<%@ Master Language="C#" AutoEventWireup="false" ClassName="SplendidCRM.Themes.Six.PopupView" Inherits="SplendidCRM.Themes.Sugar.PopupView" %>
<script runat="server">
/**
 * Copyright (C) 2005-2013 SplendidCRM Software, Inc. All Rights Reserved. 
 *
 * Any use of the contents of this file are subject to the SplendidCRM Professional Source Code License 
 * Agreement, or other written agreement between you and SplendidCRM ("License"). By installing or 
 * using this file, you have unconditionally agreed to the terms and conditions of the License, 
 * including but not limited to restrictions on the number of users therein, and you may not use this 
 * file except in compliance with the License. 
 * 
 * SplendidCRM owns all proprietary rights, including all copyrights, patents, trade secrets, and 
 * trademarks, in and to the contents of this file.  You will not link to or in any way combine the 
 * contents of this file or any derivatives with any Open Source Code in any manner that would require 
 * the contents of this file to be made available to any third party. 
 * 
 * IN NO EVENT SHALL SPLENDIDCRM BE RESPONSIBLE FOR ANY DAMAGES OF ANY KIND, INCLUDING ANY DIRECT, 
 * SPECIAL, PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES.  Other limitations of liability 
 * and disclaimers set forth in the License. 
 * 
 */
</script>
<!DOCTYPE HTML>
<html id="htmlRoot" runat="server">
<head runat="server">
	<%@ Register TagPrefix="SplendidCRM" Tagname="MetaHeader" Src="~/_controls/MetaHeader.ascx" %>
	<SplendidCRM:MetaHeader ID="ctlMetaHeader" Runat="Server" />
	<script type="text/javascript" src="<%# Application["scriptURL"] %>ModulePopupScripts.aspx?LastModified=<%# Server.UrlEncode(Sql.ToString(Application["Modules.LastModified"])) + "&UserID=" + Security.USER_ID.ToString() %>"></script>
	<%# Application["CONFIG.external_scripts"] %>
</head>
<body style="margin: 10px">
<form id="frmMain" method="post" runat="server">
<script runat="server">
// 10/22/2009 Paul.  Use the AJAX Toolkit technique to combine ScriptResource.axd files.  .NET 3.5 SP1 has a CompositeScript group.
// 11/23/2009 Paul.  We will never need the scripts to be in debug mode. We also do not want localization. 
</script>
<ajaxToolkit:ToolkitScriptManager ID="mgrAjax" CombineScripts="true" EnableScriptGlobalization="true" EnableScriptLocalization="false" ScriptMode="Release" runat="server" />

	<asp:ContentPlaceHolder ID="cntBody" runat="server" />

<script type="text/javascript" src="<%# Application["scriptURL"] %>UpdatePanelWaitCursor.js"></script>
</form>
</body>
</html>

