<%@ Control CodeBehind="MyRecentActivity.ascx.cs" Language="c#" AutoEventWireup="false" Inherits="SplendidCRM.ActivityStream.MyRecentActivity" %>
<script runat="server">
/**
 * Copyright (C) 2016 SplendidCRM Software, Inc. All Rights Reserved. 
 *
 * Any use of the contents of this file are subject to the SplendidCRM Professional Source Code License 
 * Agreement, or other written agreement between you and SplendidCRM ("License"). By installing or 
 * using this file, you have unconditionally agreed to the terms and conditions of the License, 
 * including but not limited to restrictions on the number of users therein, and you may not use this 
 * file except in compliance with the License. 
 * 
 * SplendidCRM owns all proprietary rights, including all copyrights, patents, trade secrets, and 
 * trademarks, in and to the contents of this file.  You will not link to or in any way combine the 
 * contents of this file or any derivatives with any Open Source Code in any manner that would require 
 * the contents of this file to be made available to any third party. 
 * 
 * IN NO EVENT SHALL SPLENDIDCRM BE RESPONSIBLE FOR ANY DAMAGES OF ANY KIND, INCLUDING ANY DIRECT, 
 * SPECIAL, PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES.  Other limitations of liability 
 * and disclaimers set forth in the License. 
 * 
 */
</script>
<div id="divActivityStreamMyRecentActivity">
	<%@ Register TagPrefix="SplendidCRM" TagName="DashletHeader" Src="~/_controls/DashletHeader.ascx" %>
	<SplendidCRM:DashletHeader ID="ctlDashletHeader" Title="ActivityStream.LBL_MY_ACTIVITY_STREAM" DivEditName="my_activitystream_edit" runat="Server" />

	<asp:Panel CssClass="button-panel" Visible="<%# !PrintView %>" runat="server">
		<asp:Label ID="lblError" CssClass="error" EnableViewState="false" runat="server" />
	</asp:Panel>

	<%@ Register TagPrefix="SplendidCRM" TagName="StreamView" Src="StreamView.ascx" %>
	<SplendidCRM:StreamView ID="ctlStreamView" ShowSearchDialog="false" ShowHeader="false" RecentActivity="true" Runat="Server" />
</div>
<br />

