/**
 * Copyright (C) 2015 SplendidCRM Software, Inc. All Rights Reserved. 
 *
 * Any use of the contents of this file are subject to the SplendidCRM Professional Source Code License 
 * Agreement, or other written agreement between you and SplendidCRM ("License"). By installing or 
 * using this file, you have unconditionally agreed to the terms and conditions of the License, 
 * including but not limited to restrictions on the number of users therein, and you may not use this 
 * file except in compliance with the License. 
 * 
 * SplendidCRM owns all proprietary rights, including all copyrights, patents, trade secrets, and 
 * trademarks, in and to the contents of this file.  You will not link to or in any way combine the 
 * contents of this file or any derivatives with any Open Source Code in any manner that would require 
 * the contents of this file to be made available to any third party. 
 * 
 * IN NO EVENT SHALL SPLENDIDCRM BE RESPONSIBLE FOR ANY DAMAGES OF ANY KIND, INCLUDING ANY DIRECT, 
 * SPECIAL, PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES.  Other limitations of liability 
 * and disclaimers set forth in the License. 
 * 
 */

/* 09/25/2015 Paul.  The file name must start with style so that it is included after style.css */
.ActivityStreamPicture
{
	margin: 4px;
	width: 36px;
	height: 36px;
	float: left;
	border-radius: 4px;
}
.ActivityStreamIdentity
{
}
.ActivityStreamCreatedBy
{
	margin-right: 4px;
	font-weight: bold;
	color: #3A87F2;
}
.ActivityStreamDateEntered
{
	margin-right: 4px;
	color: Gray;
}
.ActivityStreamParent
{
	margin-right: 14px;
}
.ActivityStreamDescription
{
	font-size: larger;
}
table.listView td .ActivityStreamDescription a:link, table.listView td .ActivityStreamDescription a:visited
{
	color: #3A87F2;
	font-weight: bold;
	text-decoration: none;
}
.ActivityStreamUpdateFields
{
	color: #3A87F2;
}

.follow
{
	padding: 4px;
	margin-left: 4px;
	border-radius: 3px;
	background-color: Gray;
	font-weight: bold;
	color: White;
	cursor: hand;
}
.following
{
	padding: 4px;
	margin-left: 4px;
	border-radius: 3px;
	background-color: Black;
	font-weight: bold;
	color: White;
	cursor: hand;
}
