﻿/* Common app styling */

.padding
{
	padding: 15px;
}

#notification-message
{
	background-color: #818285;
	color: #fff;
	position: absolute;
	width: 100%;
	min-height: 80px;
	right: 0;
	z-index: 100;
	bottom: 0;
	display: none; /* Hidden until invoked */
}

#notification-message-header
{
	font-size: medium;
	color: #fff;
	margin-bottom: 10px;
}

#notification-message-body
{
	color: #fff;
}

#notification-message-close
{
	background-image: url("../Images/Close.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}
