﻿/*****************************************************************/
/********************** Office CSS library ***********************/
/********************** Version: 1.0.2.0 *************************/
/*****************************************************************/

/******************************************************************
Base
******************************************************************/
body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	max-height: 100%;
}

/******************************************************************
Typography
******************************************************************/
body {
	font-family: "Segoe WP", "Segoe UI", "Arial", sans-serif;
	font-size: 12px;
	color: #262626;
}

h1 {
	font-family: "Segoe WP Light", "Segoe UI", "Arial", sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: 500;
}

h2, h3, h4, h5, h6, th {
	font-family: "Segoe WP Semibold", "Segoe UI", "Arial", sans-serif;
}

h2 {
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
}

h3, h4, h5, h6 {
	font-size: 13px;
	line-height: 16px;
}

h3 {
	font-weight: 600;
}

h4, h5, h6 {
	font-weight: normal;
}

form, input, select, button, textarea {
	font-family: "Segoe WP", "Segoe UI", "Arial", sans-serif;
	font-size: 12px;
	line-height: 16px;
}

/******************************************************************
General
******************************************************************/
a {
	color: #336699;
	text-decoration: none;
}

	a:focus, a:hover, a:active {
		text-decoration: underline;
	}

ul {
	margin-left: 1.4em;
	padding: 0;
}

hr {
	border: none;
	height: 1px;
	color: #ebebeb;
	background-color: #ebebeb;
	clear: both;
}

img {
	border: none;
}

blockquote {
	margin-left: 1.4em;
}

/******************************************************************
Forms
******************************************************************/
form {
	clear: both;
}

label {
	margin-right: 3px;
}

input, textarea, select, button {
	margin: 0 0 5px 0;
	padding: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

	input[type="checkbox"], input[type="radio"] {
		margin-right: 4px;
	}

	input[type="checkbox"], input[type="radio"],
	input[type="file"], input[type="image"] {
		padding: 0;
	}

	button, textarea, select,
	input:not([type]),
	input[type="button"],
	input[type="color"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="reset"],
	input[type="search"],
	input[type="submit"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"] {
		border: 1px solid #cccccc;
		background-color: white;
	}

	button, input[type="button"],
	input[type="submit"], input[type="reset"] {
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}

		button:hover:enabled,
		input[type="button"]:hover:enabled,
		input[type="submit"]:hover:enabled,
		input[type="reset"]:hover:enabled {
			border-color: #7eB4ea;
			background-color: #e5f1fc;
		}

		button:active:enabled,
		input[type="button"]:active:enabled,
		input[type="submit"]:active:enabled,
		input[type="reset"]:active:enabled {
			border-color: #569de5;
			background-color: #cee5fc;
		}

/******************************************************************
Scrollbars
******************************************************************/
body {
	scrollbar-base-color: white;
	scrollbar-arrow-color: #ababab;
	scrollbar-highlight-color: #ababab;
	scrollbar-darkshadow-color: white;
	scrollbar-track-color: white;
	scrollbar-face-color: white;
}
