@font-face
{
	font-family: 'app';
	src: url('../fonts/app.eot?99253374');
	src: url('../fonts/app.eot?99253374#iefix') format('embedded-opentype'),
		url('../fonts/app.woff?99253374') format('woff'),
		url('../fonts/app.ttf?99253374') format('truetype'),
		url('../fonts/app.svg?99253374#bpmn-io') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before
{
	font-family: "app";
	font-size: 16px;
	font-weight: 100;
	font-variant: normal;
	speak: none;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	text-transform: none;
	color: #333;
	padding-left: 1px;
	padding-right: 1px;
}

.icon-loading:before     { content: '\f3b8'; }
.icon-menu:before        { content: '\f3b9'; }
.icon-plus:before        { content: '\f3ba'; }
.icon-minus:before       { content: '\f3bb'; }
.icon-picture:before     { content: '\f3bc'; }
.icon-new:before         { content: '\f3bd'; }
.icon-open:before        { content: '\f3be'; }
.icon-undo:before        { content: '\f3bf'; }
.icon-redo:before        { content: '\f3c0'; }
.icon-size-reset:before  { content: '\f3c1'; }
.icon-properties:before  { content: '\f3c2'; }
.icon-save-normal:before { content: '\f422'; }
.icon-save-as:before     { content: '\f423'; }

.icon-align-bottom-tool:before            { content: '\e800'; }
.icon-align-left-tool:before              { content: '\e801'; }
.icon-align-horizontal-center-tool:before { content: '\e802'; }
.icon-align-right-tool:before             { content: '\e803'; }
.icon-align-top-tool:before               { content: '\e804'; }
.icon-align-vertical-center-tool:before   { content: '\e805'; }
.icon-distribute-horizontally-tool:before { content: '\e806'; }
.icon-distribute-vertically-tool:before   { content: '\e807'; }

.toolbar-separator
{
	background: #CCC;
	width: 1px;
	box-shadow: 0 0 1px #EEE;
	height: 24px;
	margin: 0 10px;
	display: inline-block;
	vertical-align: bottom;
}

