<%@ Control CodeBehind="AmazonView.ascx.cs" Language="c#" AutoEventWireup="false" Inherits="SplendidCRM.Administration.AmazonView" %>
<script runat="server">
/**
 * Copyright (C) 2008 SplendidCRM Software, Inc. All Rights Reserved. 
 *
 * Any use of the contents of this file are subject to the SplendidCRM Enterprise Source Code License 
 * Agreement, or other written agreement between you and SplendidCRM ("License"). By installing or 
 * using this file, you have unconditionally agreed to the terms and conditions of the License, 
 * including but not limited to restrictions on the number of users therein, and you may not use this 
 * file except in compliance with the License. 
 * 
 * SplendidCRM owns all proprietary rights, including all copyrights, patents, trade secrets, and 
 * trademarks, in and to the contents of this file.  You will not link to or in any way combine the 
 * contents of this file or any derivatives with any Open Source Code in any manner that would require 
 * the contents of this file to be made available to any third party. 
 * 
 * IN NO EVENT SHALL SPLENDIDCRM BE RESPONSIBLE FOR ANY DAMAGES OF ANY KIND, INCLUDING ANY DIRECT, 
 * SPECIAL, PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES.  Other limitations of liability 
 * and disclaimers set forth in the License. 
 * 
 */

</script>
<div id="divAmazonView" visible='<%# 
(  SplendidCRM.Security.AdminUserAccess("SimpleStorage"   , "access") >= 0 
|| SplendidCRM.Security.AdminUserAccess("SimpleEmail"     , "access") >= 0 
) %>' runat="server">
	<%@ Register TagPrefix="SplendidCRM" Tagname="ListHeader" Src="~/_controls/ListHeader.ascx" %>
	<SplendidCRM:ListHeader Title="Administration.LBL_AMAZON_WEB_SERVICES_TITLE" Runat="Server" />
	<asp:Table Width="100%" CssClass="tabDetailView2" runat="server">
		<asp:TableRow>
			<asp:TableCell Width="20%" CssClass="tabDetailViewDL2" Visible='<%# SplendidCRM.Security.AdminUserAccess("SimpleStorage", "access") >= 0 %>'>
				<asp:Image ImageUrl='<%# Session["themeURL"] + "images/SimpleStorage.gif" %>' AlternateText='<%# L10n.Term("Administration.LBL_AMAZON_S3") %>' BorderWidth="0" Width="16" Height="16" ImageAlign="AbsMiddle" Runat="server" />
				&nbsp;
				<asp:HyperLink Text='<%# L10n.Term("Administration.LBL_AMAZON_S3") %>' NavigateUrl="~/Administration/SimpleStorage/default.aspx" CssClass="tabDetailViewDL2Link" Runat="server" />
			</asp:TableCell>
			<asp:TableCell Width="30%" CssClass="tabDetailViewDF2" Visible='<%# SplendidCRM.Security.AdminUserAccess("SimpleStorage", "access") >= 0 %>'>
				<%= L10n.Term("Administration.LBL_AMAZON_S3_DESC") %>
			</asp:TableCell>
			<asp:TableCell Width="20%" CssClass="tabDetailViewDL2" Visible='<%# SplendidCRM.Security.AdminUserAccess("SimpleEmail", "access") >= 0 %>'>
				<asp:Image ImageUrl='<%# Session["themeURL"] + "images/SimpleEmail.gif" %>' AlternateText='<%# L10n.Term("Administration.LBL_AMAZON_SIMPLE_EMAIL") %>' BorderWidth="0" Width="16" Height="16" ImageAlign="AbsMiddle" Runat="server" />
				&nbsp;
				<asp:HyperLink Text='<%# L10n.Term("Administration.LBL_AMAZON_SIMPLE_EMAIL") %>' NavigateUrl="~/Administration/SimpleEmail/default.aspx" CssClass="tabDetailViewDL2Link" Runat="server" />
			</asp:TableCell>
			<asp:TableCell Width="30%" CssClass="tabDetailViewDF2" Visible='<%# SplendidCRM.Security.AdminUserAccess("SimpleEmail", "access") >= 0 %>'>
				<%= L10n.Term("Administration.LBL_AMAZON_SIMPLE_EMAIL_DESC") %>
			</asp:TableCell>
		</asp:TableRow>
	</asp:Table>
</div>
