<%@ Control Language="c#" AutoEventWireup="false" Codebehind="ConvertViewAppointment.ascx.cs" Inherits="SplendidCRM.Leads.ConvertViewAppointment" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<script runat="server">
/**
 * Copyright (C) 2014 SplendidCRM Software, Inc. All Rights Reserved. 
 *
 * Any use of the contents of this file are subject to the SplendidCRM Professional Source Code License 
 * Agreement, or other written agreement between you and SplendidCRM ("License"). By installing or 
 * using this file, you have unconditionally agreed to the terms and conditions of the License, 
 * including but not limited to restrictions on the number of users therein, and you may not use this 
 * file except in compliance with the License. 
 * 
 * SplendidCRM owns all proprietary rights, including all copyrights, patents, trade secrets, and 
 * trademarks, in and to the contents of this file.  You will not link to or in any way combine the 
 * contents of this file or any derivatives with any Open Source Code in any manner that would require 
 * the contents of this file to be made available to any third party. 
 * 
 * IN NO EVENT SHALL SPLENDIDCRM BE RESPONSIBLE FOR ANY DAMAGES OF ANY KIND, INCLUDING ANY DIRECT, 
 * SPECIAL, PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES.  Other limitations of liability 
 * and disclaimers set forth in the License. 
 * 
 */
</script>
<div id="divConvertViewAppointment">
	<h5 CssClass="dataLabel">
		<asp:CheckBox ID="chkCreateAppointment" CssClass="checkbox" Runat="server" />
		<%= L10n.Term("Leads.LNK_NEW_APPOINTMENT") %>
	</h5>
	<div id="divCreateAppointment" style="display:<%= (chkCreateAppointment.Checked ? "inline" : "none") %>">
		<asp:Table CssClass="tabEditView" runat="server">
			<asp:TableRow>
				<asp:TableCell CssClass="dataLabel" width="20%">
					<asp:RadioButton ID="radScheduleCall" GroupName="grpSchedule" CssClass="radio" Runat="server" /><span class="dataLabel"><%= L10n.Term("Calls.LNK_NEW_CALL") %></span>
				</asp:TableCell>
			</asp:TableRow>
			<asp:TableRow>
				<asp:TableCell CssClass="dataLabel">
					<asp:RadioButton ID="radScheduleMeeting" GroupName="grpSchedule" CssClass="radio" Checked="true" Runat="server" /><span class="dataLabel"><%= L10n.Term("Calls.LNK_NEW_MEETING") %></span>
				</asp:TableCell>
			</asp:TableRow>
		</asp:Table>
		
		<table ID="tblMain" class="tabEditView" runat="server">
		</table>
	</div>
	<br />
</div>
