<%@ Control CodeBehind="DocumentRevisions.ascx.cs" Language="c#" AutoEventWireup="false" Inherits="SplendidCRM.Documents.DocumentRevisions" %>
<script runat="server">
/**
 * Copyright (C) 2005-2015 SplendidCRM Software, Inc. All Rights Reserved. 
 *
 * Any use of the contents of this file are subject to the SplendidCRM Professional Source Code License 
 * Agreement, or other written agreement between you and SplendidCRM ("License"). By installing or 
 * using this file, you have unconditionally agreed to the terms and conditions of the License, 
 * including but not limited to restrictions on the number of users therein, and you may not use this 
 * file except in compliance with the License. 
 * 
 * SplendidCRM owns all proprietary rights, including all copyrights, patents, trade secrets, and 
 * trademarks, in and to the contents of this file.  You will not link to or in any way combine the 
 * contents of this file or any derivatives with any Open Source Code in any manner that would require 
 * the contents of this file to be made available to any third party. 
 * 
 * IN NO EVENT SHALL SPLENDIDCRM BE RESPONSIBLE FOR ANY DAMAGES OF ANY KIND, INCLUDING ANY DIRECT, 
 * SPECIAL, PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES.  Other limitations of liability 
 * and disclaimers set forth in the License. 
 * 
 */
</script>
<%-- 06/03/2015 Paul.  Combine ListHeader and DynamicButtons. --%>
<%@ Register TagPrefix="SplendidCRM" Tagname="SubPanelButtons" Src="~/_controls/SubPanelButtons.ascx" %>
<SplendidCRM:SubPanelButtons ID="ctlDynamicButtons" Module="DocumentRevisions" SubPanel="divDocumentsDocumentRevisions" Title="DocumentRevisions.LBL_MODULE_NAME" Runat="Server" />

<div id="divDocumentsDocumentRevisions" style='<%= "display:" + (CookieValue("divDocumentsDocumentRevisions") != "1" ? "inline" : "none") %>'>
	<script type="text/javascript">
	function ConfirmDeleteDocumentVersion(gRevisionID)
	{
		if ( gRevisionID == gCurrentRevisionID )
		{
			alert('<%= L10n.Term("Documents.ERR_DELETE_LATEST_VERSION") %>');
			return false;
		}
		else
		{
			return confirm('<%= L10n.Term("Documents.ERR_DELETE_CONFIRM") %>');
		}
	}
	</script>
	<SplendidCRM:SplendidGrid id="grdMain" SkinID="grdSubPanelView" AllowPaging="<%# !PrintView %>" EnableViewState="true" runat="server">
		<Columns>
			<asp:TemplateColumn  HeaderText="" ItemStyle-Width="8%" ItemStyle-HorizontalAlign="Left" ItemStyle-Wrap="false">
				<ItemTemplate>
					<span onclick="return ConfirmDeleteDocumentVersion('<%# DataBinder.Eval(Container.DataItem, "ID") %>');">
						<asp:ImageButton CommandName="Documents.Delete" CommandArgument='<%# DataBinder.Eval(Container.DataItem, "ID") %>' OnCommand="Page_Command" CssClass="listViewTdToolsS1" AlternateText='<%# L10n.Term(".LNK_DELETE") %>' SkinID="delete_inline" Runat="server" />
						<asp:LinkButton  CommandName="Documents.Delete" CommandArgument='<%# DataBinder.Eval(Container.DataItem, "ID") %>' OnCommand="Page_Command" CssClass="listViewTdToolsS1" Text='<%# L10n.Term(".LNK_DELETE") %>' Runat="server" />
					</span>
				</ItemTemplate>
			</asp:TemplateColumn>
		</Columns>
	</SplendidCRM:SplendidGrid>
</div>

