<%@ Page language="c#" EnableTheming="false" Codebehind="view.aspx.cs" AutoEventWireup="false" Inherits="SplendidCRM.Administration.SimpleStorageObject.View" %>
<head visible="false" runat="server" />