/**
 * Copyright (C) 2005-2017 SplendidCRM Software, Inc. All Rights Reserved. 
 *
 * Any use of the contents of this file are subject to the SplendidCRM Professional Source Code License 
 * Agreement, or other written agreement between you and SplendidCRM ("License"). By installing or 
 * using this file, you have unconditionally agreed to the terms and conditions of the License, 
 * including but not limited to restrictions on the number of users therein, and you may not use this 
 * file except in compliance with the License. 
 * 
 * SplendidCRM owns all proprietary rights, including all copyrights, patents, trade secrets, and 
 * trademarks, in and to the contents of this file.  You will not link to or in any way combine the 
 * contents of this file or any derivatives with any Open Source Code in any manner that would require 
 * the contents of this file to be made available to any third party. 
 * 
 * IN NO EVENT SHALL SPLENDIDCRM BE RESPONSIBLE FOR ANY DAMAGES OF ANY KIND, INCLUDING ANY DIRECT, 
 * SPECIAL, PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES.  Other limitations of liability 
 * and disclaimers set forth in the License. 
 * 
 */
body
{
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	font-weight: normal;
	font-family: Arial, Verdana, sans-serif;
}
p
{
	margin-top: 0px;
	margin-bottom: 5px;
}
h1, h2
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 13px;
	font-weight: bold;
	color: #666666;
	text-transform: uppercase;
}
/* 10/24/2010 Paul.  Set margin top to 0 to reduce wasted space. */
h3
{
	margin-top: 0px;
	margin-bottom: 3px;
	padding-top: 3px;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
/* 10/28/2010 Paul.  Set margin top to 0 to reduce wasted space. */
h4, h5
{
	margin-top: 0px;
	margin-bottom: 2px;
	padding-left: 4px;
	font-size: 12px;
	font-weight: bold;
	color: #444444;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
table, td
{
	font-size: 11px;
	color: #444444;
}
hr
{
	height: 1px;
}
a:link, a:visited
{
	color: #444444;
	text-decoration: underline;
}
a:hover
{
	text-decoration: underline;
}
h2 a:link, h2 a:visited, h2 a:hover
{
	color: #666666;
	text-decoration: none;
}
/* 08/03/2010 Paul.  TextArea was not inheriting the document font. */
input, select, textarea
{
	border: 1px solid #999999;
	background-color: #ffffff;
	font-size: 12px;
	font-family: inherit;
}
input:focus, select:focus, textarea:focus
{
	border-color: #aaaaaa;
	background-color: #ffffff;
}
.moduleTitle
{
	margin-bottom: 5px;
	padding-top: 1px;
	padding-bottom: 3px;
}
/* 05/12/2016 Paul.  Need to add some space on IE11. */
.checkbox, .checkbox input, .radio, .radio input
{
	margin-bottom: 0px;
	border: none;
	background-color: transparent;
	vertical-align: bottom;
}
.button
{
	border: 1px solid #999999;
	background-color: #eeeeee;
	background-image: url(images/bgGray.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	font-weight: normal;
	color: #444444;
}
.button:hover, .button:focus
{
	border-color: #999999;
	color: #444444;
}
.buttonOn, .buttonOn:focus
{
	border: 1px solid #999999;
	background-color: #eeeeee;
	background-image: url(images/bgGray.gif);
	background-repeat: repeat-x;
	background-position: top;
	font-size: 12px;
	font-weight: normal;
	color: #444444;
}
.required, .warning, .error
{
	color: #ff0000;
}
.tooltip
{
	display: none;
	background-color:#ffffcc;
	border: 1px solid #999999;
}

table.h3Row
{
	margin-bottom: 0px;
	margin-top: 10px;
	padding: 2px 5px 2px 5px;
	border-top: 1px solid #cccccc;
	background-color: white;
	color: #444444;
	vertical-align: middle;
}

table.h3RowDisabled
{
	background-color: #e0e0e0;
}

.button-panel
{
	margin-bottom: 2px;
}

/* Menu styles */
.subMenu
{
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	border-top: 0px;
	border-bottom: 1px solid #cccccc;
	font-size: 11px;
	background-color: #ffffff;
	color: #444444;
	width: 100%;
}
ul.subMenu li
{
	margin: 0px 0px 0px 0px;
	border: none;
	border-top: 1px solid #cccccc;
	list-style: none;
}
ul.subMenu li a
{
	padding: 3px 3px 3px 6px;
	border: none;
	text-decoration: none;
	text-align: left;
	display: block;
}
ul.subMenu li a:hover
{
	background-color: #f8f8f8;
	color: #990033;
}
ul.subMenu li span
{
	padding: 3px 3px 3px 6px;
	border: none;
	text-decoration: none;
	text-align: left;
	display: block;
}
ul.subMenu li span:hover
{
	background-color: #f8f8f8;
	color: #990033;
}

/* ListView styles */
/* 05/26/2015 Paul.  Header with white background and lighter borders. */
table.listView
{
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	font-size: 11px;
}
tr.listViewPaginationTdS1
{
	padding: 1px 5px 2px 5px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background-color: #eeeeee;
	color: #999999;
}
table.listView th, tr.listViewThS1
{
	padding: 3px 5px 3px 5px;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	background-color: #ffffff;
	font-weight: normal;
	color: #444444;
	text-align: left;
}
.listViewThS1 td
{
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
.listViewThS1 a
{
	text-decoration: none;
}
.listViewThS1 a:hover
{
	text-decoration: underline;
}
/* 05/30/2015 Paul.  Bold the current sort column. */
.listViewThS1CurrentSort
{
	font-weight: bold;
	background-color: #f6f6f6;
}
table.listView td
{
	border-left: none;
	border-right: none;
}
table.listView td a:link, table.listView td a:visited, a.listViewThLinkS1:link, a.listViewThLinkS1:visited
{
	color: #444444;
}
.pageNumbers
{
	color: #444444;
	vertical-align: 0.3em;
}
table.listview th a:hover, a.listViewThLinkS1:hover
{
	color: #990033;
}
tr.oddListRowS1, tr.evenListRowS1
{
	padding: 2px 8px 4px 5px;
	border-bottom: 1px solid #dddddd;
	vertical-align: middle;
}
tr.oddListRowS1:hover, tr.evenListRowS1:hover
{
	background: #ecf7ff;
}
tr.oddListRowS1
{
	background-color: #f6f6f6;
}
a.listViewTdLinkS1:link, a.listViewTdLinkS1:visited
{
	color: #990033;
	text-decoration: none;
}
a.listViewTdLinkS1:hover
{
	color: #000000;
	text-decoration: underline;
}
a.listViewTdToolsS1:link, a.listViewTdToolsS1:visited, a.listViewTdToolsS1:hover
{
	text-decoration: none;
}
a.listViewCheckLink:link, a.listViewCheckLink:visited
{
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}
a.listViewCheckLink:hover
{
}

/* EditView styles */
/* 12/02/2010 Paul.  We use the tabForm in a panel. */
/* 06/01/2015 Paul.  We removed paragraph tags from EditView so we need to add margin after the form. */
.tabForm
{
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	padding: 10px 5px 12px 10px;
	background-color: #f6f6f6;
	font-size: 12px;
	color: #000000;
	margin-bottom: 4px;
}
table.tabForm td ul li
{
	margin-bottom: 10px;
	list-style-type: none;
}
/* 06/18/2015 Paul.  We removed paragraph tags from EditView so we need to add margin after the form. */
table.tabSearchForm
{
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	padding: 10px 5px 12px 10px;
	background-color: #f6f6f6;
	font-size: 12px;
	color: #000000;
	margin-bottom: 4px;
}
table.tabSearchForm td ul li
{
	margin-bottom: 10px;
	list-style-type: none;
}

table.tabEditView
{
	border: none;
	border-collapse: collapse;
	width: 100%;
}
table.tabEditView td
{
	border: inherit;
}
table.tabEditView th
{
	margin-top: 0px;
	padding-left: 0px;
	padding-top: 0px;
	text-align: left;
}
td.dataLabel
{
	padding: 5px 5px 5px 5px;
}
.dataLabel
{
	font-size: 12px;
	font-weight: normal;
	text-align: left;
}
.dataField
{
	font-size: 12px;
	font-weight: normal;
}
/* 05/28/2015 Paul.  New styles for stacked layout. */
.tabStackedEditViewDL
{
	padding-top: 0px;
	padding-bottom: 2px;
	font-size: 11px;
	font-weight: 400;
	color: #999999;
	display: block;
}
.tabStackedEditViewDF
{
	padding: 5px 6px 0px 6px;
	font-size: 15px;
	font-weight: 500;
	color: #000000;
	text-align: left;
	vertical-align: top;
}
/* https://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
.tabStackedEditViewDF input:focus, .tabStackedEditViewDF textarea:focus, .tabStackedEditViewDF select:focus
{
	box-shadow: 0 0 5px black;
	border: 1px solid black;
}

/* 05/30/2015 Paul.  Separate style for Preview. */
table.tabPreviewView
{
	padding: 2px 5px 3px 5px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	border-collapse: collapse;
	background-color: #f2f2f2;
	font-size: 12px;
	vertical-align: top;
	width: 100%;
}

/* DetailView styles */
table.tabDetailView
{
	padding: 2px 5px 3px 5px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	border-collapse: collapse;
	font-size: 12px;
	vertical-align: top;
	width: 100%;
}
.tabDetailViewDL
{
	padding: 5px 6px 5px 6px;
	border-bottom: 1px solid #dddddd;
	background-color: #f6f6f6;
	font-size: 12px; 
	vertical-align: top;
	text-align: right;
	color: #000000;
}
.tabDetailViewDF
{
	padding: 5px 10px 5px 6px;
	border-bottom: 1px solid #dddddd;
	background-color: #ffffff;
	font-size: 12px;
	color: #444444;
	vertical-align: top;
}
/* 05/30/2015 Paul.  The DataField column should be the same color as the DataLabel column. */
table.tabPreviewView td.tabDetailViewDL
{
	background-color: #f6f6f6;
	border-bottom: none;
}
table.tabPreviewView td.tabDetailViewDF
{
	background-color: #f6f6f6;
	border-bottom: none;
}
/* 05/28/2015 Paul.  New styles for stacked layout. */
.tabStackedDetailViewDL
{
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 11px;
	font-weight: 400;
	color: #444444;
	display: block;
}
.tabStackedDetailViewDF
{
	padding: 5px 6px 5px 6px;
	background-color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	color: #000000;
	text-align: left;
	vertical-align: top;
}
a.tabDetailViewDFLink:link, a.tabDetailViewDFLink:visited
{
	color: #3294F3;
	font-weight: 600;
	text-decoration: none;
}
a.tabDetailViewDFLink:hover
{
	color: #000000;
}
table.tabDetailView2
{
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-collapse: collapse;
	background-color: #cccccc;
	width: 100%;
}
.tabDetailViewDL2
{
	padding: 3px 6px 4px 6px;
	background-color: #eeeeee;
	font-size: 13px;
	font-weight: normal;
	color: #000000;
	vertical-align: middle;
}
.tabDetailViewDF2
{
	padding: 4px 10px 4px 6px;
	background-color: #fafafa;
	font-size: 13px;
	font-weight: normal;
	color: #444444;
	vertical-align: middle;
}
a.tabDetailViewDL2Link:link, a.tabDetailViewDL2Link:visited
{
	color: #444444;
	text-decoration: underline;
}
table.tabSearchView
{
	border: none;
	border-collapse: collapse;
	width: 100%;
}

/* LeftColumn (NewRecord) styles */
table.leftColumnModuleHead th
{
	padding-top: 4px;
	padding-left: 6px;
	padding-bottom: 4px;
	border-top: 1px solid #999999;
	background-color: #ffffff;
	background-image: url(images/bgGray.gif);
	background-repeat: repeat-x;
	background-position: top;
	color: #444444;
	text-align: left;
}
.leftColumnModuleName
{
	padding-top: 4px;
	padding-left: 3px;
	padding-bottom: 4px;
	text-transform: uppercase;
}
.leftColumnModuleS3
{
	padding: 8px 8px 5px 8px;
	border-bottom: 1px solid #cccccc;
	background-color: #fff;
	background-repeat: repeat-x;
	background-position: bottom;
	font-size: 11px;
	color: #444444;
}
.leftColumnModuleS3 input, .leftColumnModuleS3 select
{
	margin-top: 2px;
	margin-bottom: 4px;
}
td.leftColumnModuleS3 .button
{
	padding-top: 0px;
	font-size: 11px;
	vertical-align: bottom;
}
.leftColumnModuleS3 td
{
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	font-size: 11px;
	vertical-align: bottom;
}

/* SearchTab styles */
ul.tablist
{
	margin: 0px 0px 0px 0px;
	padding-top: 3px;
	padding-left: 0px;
	padding-bottom: 3px;
	padding-right: 0px;
	border-bottom: 1px solid #999999;
	font-size: 12px;
}
ul.tablist li
{
	margin: 0px 0px 0px 0px;
	list-style: none;
	display: inline;
}
ul.tablist li a
{
	margin: 0px 0px 0px 0px;
	padding: 3px 8px 3px 8px;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: none;
	background-color: #ffffff;
	background-image: none;
	background-repeat: repeat-x;
	background-position: top;
	text-decoration: none;
}
ul.tablist li a:link, ul.tablist li a:visited
{
	color: #444444;
	text-decoration: none;
}
ul.tablist li a:hover
{
	border-top: 1px solid #999999;
	background-color: #fafafa;
	background-image: none;
	background-repeat: repeat-x;
	background-position: bottom;
	color: #990033;
}
ul.tablist li a.current, ul.tablist li a.current:hover
{
	border-bottom: 1px solid #dddddd;
	background-repeat: repeat-x;
	background-position: bottom;
	font-weight: bold;
}
ul.tablist li a.current
{
	border-right-color: #999999;
	background-image: url(images/bgGray.gif);
}
ul.tablist li a.current:hover
{
	background-image: none;
	color: #990033;
}

/* Footer styles */
.footer
{
	margin-top: 6px;
	margin-bottom: 20px;
	padding: 6px 6px 6px 6px;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #cccccc;
	background-color: #f6f6f6;
	color: #999999;
	line-height: 22px;
	width: 98%;
}
a.footerLink:link, a.footerLink:visited
{
	text-decoration: none;
}
a.footerLink:hover
{
	color: #990033;
	text-decoration: underline;
}
.footerHR
{
	color: #666666;
}

/* LastViewed styles */
.lastView
{
	padding-top: 3px;
	padding-left: 10px;
	padding-bottom: 3px;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #999999;
	background-color: #eeeeee;
	color: #444444;
	vertical-align: middle;
	font-size: 11px;
}
.lastViewLink, a.lastViewLink:link, a.lastViewLink:visited
{
	padding: 2px 5px 2px 5px;
	border-left: 1px solid #cccccc;
	color: #444444;
	text-decoration: none;
}
a.lastViewLink:hover
{
	background-color: #ffffff;
	color: #990033;
}

/* Tab Menu */
table.tabFrame
{
	border: none;
	border-collapse: collapse;
	width: 100%;
}
table.tabToolbarFrame
{
	border: none;
	border-collapse: collapse;
	border-spacing: 0px;
	height: 45px;
	width: 100%;
}
.tabRow
{
	background-color: #FFD14E;
	height: 20px;
}
.currentTab
{
	padding: 10px 15px 0px 15px;
	background-color: #FFBB19;
	font-size: 15px;
	height: 37px;
	line-height: 10px;
}
a.currentTabLink:link, a.currentTabLink:visited, a.currentTabLink:hover
{
	text-decoration: none;
}
a.currentTabLink:link, a.currentTabLink:visited
{
	color: #003564;
}
a.currentTabLink:hover
{
	color: #003564;
}
.otherQuickCreate
{
	border: none;
	border-collapse: collapse;
	width: 100%;
	padding: 10px 5px 0px 5px;
	background-color: #FFD14E;
	color: #003564;
	font-size: 15px;
	height: 37px;
	line-height: 10px;
}
.otherQuickCreate:hover
{
	background-color: #FFDC87;
}
.otherUser
{
	border: none;
	border-collapse: collapse;
	width: 100%;
	padding: 10px 10px 0px 10px;
	background-color: #FFD14E;
	color: #003564;
	font-size: 15px;
	height: 37px;
	line-height: 10px;
}
.otherUser:hover
{
	background-color: #FFDC87;
}
.otherHome
{
	padding: 0px 5px 0px 5px;
	background-color: #FFD14E;
	color: #003564;
	width: 45px;
	height: 45px;
}
.otherHome:hover
{
	background-color: #FFDC87;
}
.otherTab
{
	padding: 10px 15px 0px 15px;
	background-color: #FFD14E;
	color: #003564;
	font-size: 15px;
	height: 37px;
	line-height: 10px;
}
.otherTab:hover
{
	background-color: #FFDC87;
}
a.otherTabLink:link, a.otherTabLink:visited
{
	text-decoration: none;
	padding-top: 0px;
}
a.otherTabLink:hover
{
	text-decoration: none;
}
a.otherTabLink:link, a.otherTabLink:visited
{
	color: #003564;
}
a.otherTabLink:hover
{
	color: #003564;
}

.otherTabMoreLink, .otherTabMoreLink:link, .otherTabMoreLink:active, .otherTabMoreLink:visited, .otherTabMoreLink:hover
{
	padding: 1px 5px 1px 7px;
	color: #636363;
	text-decoration: none;
	line-height: 22px;
	display: block;
	font-size: 13px;
}
.otherTabMoreLink:hover, .otherTabMoreLink:active
{
	color: white;
	background-color: #31597b;
}

#subtabs
{
	border-bottom: 1px solid #999999;
	background-image: url(images/bgGray.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 21px;
}
.menu
{
	border: 1px solid #999999;
	background-color: #f6f6f6;
	position: absolute;
	display: none;
	visibility: hidden;
	opacity: 0.9;
}
.menuItem, .menuItem:link, .menuItem:active, .menuItem:visited, .menuItem:hover
{
	padding: 1px 5px 1px 7px;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #c0c0c0;
	background-color: #f6f6f6;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
	width: 120px;
	display: block;
}
.menuItem:hover, .menuItem:active
{
	color: #000000;
}

/* Header styles */
.myArea, .welcome
{
	font-size: 13px;
}
a.myAreaLink:link, a.myAreaLink:visited, a.myAreaLink:hover
{
	text-decoration: none;
	font-size: 13px;
}
.subTabBar
{
}
.searchField
{
	border: 1px solid #999999;
	background-color: white;
	font-size: 12px;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20;
	width: 120px;
}
.searchButton, searchButton:focus
{
	background-color: #fafafa;
	cursor: hand;
}

a.utilsLink:link, a.utilsLink:visited
{
	padding-bottom: 3px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #999999;
}
a.utilsLink:hover
{
	text-decoration: underline;
}
a.listViewPaginationLinkS1:link, a.listViewPaginationLinkS1:visited
{
	padding: 2px 0px 3px 0px;
	font-size: 12px;
	font-weight: bold;
	color: #444444;
	text-decoration: none;
}
.listViewPaginationTdS1
{
	padding: 1px 5px 2px 5px;
	border: none;
	background-color: #eeeeee;
	font-size: 12px;
	vertical-align: top;
	color: #444444;
}
.listViewPaginationTdS1 td
{
	background-color: white;
}
a.listViewPaginationLinkS1:hover
{
	color: #990033;
	text-decoration: underline;
}

/* Popup Calendar */
table.Calendar
{
	border-top: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
	border-bottom: 2px solid #000000;
	border-right: 2px solid #000000;
	background-color: #c8d0d4;
	font-size: 11px;
	color: #000000;
}
table.CalendarTitle td
{
	padding: 1px 1px 1px 1px;
	border: 1px solid #000000;
	background: #788084;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
}
th.CalendarDayHeader
{
	padding: 2px 2px 2px 2px;
	border-bottom: 1px solid #000000;
	background-color: #e8f0f4;
	text-align: center;
}
td.CalendarDay
{
	padding: 2px 4px 2px 2px;
	font-weight: bold;
	color: #ffffff;
	text-align: right;
	width: 2em;
}
td.CalendarWeekendDay
{
	color: #ff0000;
}
td.CalendarOtherMonthDay
{
	background-color: #e8f0f4;
}
td.CalendarToday
{
	font-weight: bold;
	color: #0000ff;
}

/* Calendar View styles */
table.monthBox
{
	font-size: 12px;
}
table.monthHeader
{
	margin-top: 10px;
	border-top: 1px solid #999999;
	background-color: #ffffff;
	background-image: url(images/bgGray.gif);
	background-repeat: repeat-x;
	background-position: top;
	color: #444444;
	height: 25px;
}
td.monthHeaderPrevTd
{
	padding-left: 5px;
}
td.monthHeaderNextTd
{
	padding-right: 5px;
}
.monthHeaderH3
{
	margin-bottom: 3px;
	padding-top: 3px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
a.NextPrevLink:link, a.NextPrevLink:visited, a.NextPrevLink:hover
{
	color: #990033;
	text-decoration: none;
}
td.monthCalBody
{
	background-color: #dddddd;
}
td.dailyCalBodyTime
{
	padding: 7px 7px 7px 7px;
	border-color: #dddddd;
	background-color: #f6f6f6;
	color: #000000;
	vertical-align: top;
	height: 20px;
}
td.dailyCalBodyItems
{
	padding: 5px 5px 5px 5px;
	background-color: #ffffff;
	font-size: 12px;
	color: #444444;
	text-align: left;
}
a.weekCalBodyDayLink:link, a.weekCalBodyDayLink:visited
{
	color: #000000;
}
table.monthFooter
{
}
.monthFooterPrev, .monthFooterNext
{
	padding: 3px 7px 3px 7px;
	background-color: transparent;
}
th.monthCalBodyTHDay
{
	padding: 5px;
	border-top: 1px solid #cccccc;
	background-color: #eeeeee;
	color: #444444;
}
.monthCalBodyWeekDay
{
	padding: 3px 3px 3px 3px;
	background-color: #ffffff;
	text-align: right;
}
.monthCalBodyWeekEnd
{
	padding: 3px 3px 3px 3px;
	background-color: #f6f6f6;
	color: #444444;
	text-align: right;
}
.monthCalBodyTodayWeekDay, .monthCalBodyTodayWeekEnd
{
	padding: 3px 3px 3px 3px;
	border: 1px solid #990033;
	background-color: #ffffff;
	color: #444444;
	text-align: right;
}
a.monthCalBodyWeekDayDateLink:link, a.monthCalBodyWeekDayDateLink:visited
{
	font-size: 12px;
	font-weight: bold;
}
a.monthCalBodyDayItemLink:link, a.monthCalBodyDayItemLink:visited, a.monthCalBodyDayItemLink:hover
{
	font-size: 10px;
}
.monthCalBodyDayItem
{
	margin: 7px 0px 7px 0px;
	padding: 5px 0px 8px 0px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #dddddd;
	background-color: #ffffff;
}
.monthCalBodyDayItemTd
{
	vertical-align: top;
}
.monthCalBodyDayIconTd
{
	padding-right: 3px;
	vertical-align: top;
}
.dailyCalBodyItems
{
	padding: 5px 5px 5px 5px;
	background-color: #ffffff;
	font-size: 12px;
	color: #444444;
	text-align: left;
}
.yearCalBodyMonth
{
	padding-top: 5px;
}
a.yearCalBodyMonthLink:link, a.yearCalBodyMonthLink:visited
{
	margin-bottom: 5px;
	padding: 5px 5px 5px 5px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}
a.yearCalBodyMonthLink:hover
{
	text-decoration: underline;
}
.dateFormat
{
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
}

/* Chart styles */
table.chartForm
{
	padding: 5px 5px 5px 5px;
	border: 1px solid #999999;
	background-color: #efefef;
}
table.chartForm td
{
	background-color: #efefef;
}
a.chartToolsLink:link, a.chartToolsLink:visited
{
	font-size: 11px;
	font-weight: normal;
	color: #444444;
	text-decoration: none;
}
a.chartToolsLink:hover
{
	color: #990033;
	text-decoration: none;
}
.chartFootnote
{
	font-size: 11px;
}

.tm
{
	font-size: 8px;
	font-family: Verdana;
}

h5.listViewSubHeadS1
{
	margin-bottom: 2px;
	padding-left: 4px;
	font-size: 12px;
	font-weight: bold;
	color: #444;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
.rssItemDate
{
	font-size: 11px;
	color: #666666;
}

/* Scheduler styles */
.schedulerDiv
{
	margin-top: 0px;
	border-bottom: 1px solid #999999;
	border-collapse: collapse;
	background-color: #fafafa;
	font-size: 12px;
	color: #000000;
	text-align: left;
	width: 100%;
}
.schedulerTable
{
	border-collapse: collapse;
	width: 100%;
}
table.schedulerTable td
{
	height: 18px;
}
.schedulerTopRow, .schedulerDeleteHeaderCell, .schedulerAttendeeHeaderCell, .schedulerAttendeeHeaderCell
{
	border-bottom: 1px solid #dddddd;
	height: 22px;
}
.schedulerTimeCell, .schedulerAttendeeDeleteCell
{
	padding-left: 4px;
	border-left: 1px solid #dddddd;
}
.schedulerAttendeeCell
{
	padding-left: 4px;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	overflow: hidden;
	width: 125px;
}
.schedulerSlotCellStartTime
{
	padding: 0px 0px 0px 0px;
	border-top: 1px solid #dddddd;
	border-left: 4px solid #75af4f;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	background-color: #eeeeee;
	width: 15px;
}
.schedulerSlotCellEndTime
{
	padding: 0px 0px 0px 0px;
	border-top: 1px solid #dddddd;
	border-left: 4px solid #ff0000;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	background-color: #eeeeee;
	width: 15px;
}
.schedulerSlotCellHour
{
	padding: 0px 0px 0px 0px;
	border: 1px solid #dddddd;
	background-color: #eeeeee;
	width: 15px;
}
.schedulerTopDateCell
{
	margin-top: 10px;
	padding: 2px 5px 2px 5px;
	border-top: 1px solid #999999;
	background-color: #ffffff;
	background-image: url(images/bgGray.gif);
	background-repeat: repeat-x;
	background-position: top;
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
.contentBox
{
	margin: 10px 0px 10px 0px;
	padding: 0px 10px 0px 0px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

.ToolbarShadingTable
{
	width: 80%;
	border: 1px solid #9c9c9c;
}
.ToolbarInnerTable
{
	width: 100%;
	border: 1px solid #9c9c9c;
	background-color: White;
	padding: 8px 8px 8px 8px;
}
.ToolbarInnerTableCell
{
	padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 25px;
}
/* 12/26/2017 Paul.  Update login screen. */
.loginField input[type=text], .loginField input[type=password]
{
	width: 180px;
}
.LoginActionsShadingTable
{
	width: 400px;
	border: 1px solid #9c9c9c;
}
.LoginActionsShadingHorizontal
{
	height: 16px;
	background-color: #b6b6b6;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.LoginActionsShadingVertical
{
	width: 16px;
	background-color: #b6b6b6;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.LoginActionsInnerTable
{
	width: 400px;
	border-left: 1px solid #9c9c9c;
	border-right: 1px solid #9c9c9c;
	border-bottom: 1px solid #9c9c9c;
	background-color: White;
	-moz-box-shadow: 0 5px 5px #888;
	-webkit-box-shadow: 0 5px 5px #888;
	box-shadow: 0 5px 5px #888;
}

.ModuleActionsShadingTable
{
	width: 400px;
	border: 1px solid #9c9c9c;
}
.ModuleActionsShadingHorizontal
{
	height: 16px;
	background-color: #b6b6b6;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.ModuleActionsShadingVertical
{
	width: 16px;
	background-color: #b6b6b6;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.ModuleActionsInnerTable
{
	width: 400px;
	border-left: 1px solid #9c9c9c;
	border-right: 1px solid #9c9c9c;
	border-bottom: 1px solid #9c9c9c;
	background-color: White;
	-moz-box-shadow: 0 5px 5px #888;
	-webkit-box-shadow: 0 5px 5px #888;
	box-shadow: 0 5px 5px #888;
}
.ModuleActionsInnerCell
{
	width: 33%;
	vertical-align: top;
	padding: 8px 8px 8px 8px;
	border-left: solid 1px #cecece;
}
.ModuleActionsInnerHeader
{
	font-size: 10pt;
	color: #9c9c9c;
	display:block;
}
.ModuleActionsMenuItems, .ModuleActionsMenuItems:link, .ModuleActionsMenuItems:active, .ModuleActionsMenuItems:visited, .ModuleActionsMenuItems:hover
{
	padding: 1px 5px 1px 7px;
	color: #636363;
	text-decoration: none;
	line-height: 22px;
	display: block;
	font-size: 13px;
}
.ModuleActionsMenuItems:hover, .ModuleActionsMenuItems:active
{
	color: white;
	background-color: #31597b;
}

.MoreActionsShadingTable
{
	width: 200px;
	border: 1px solid #9c9c9c;
}
.MoreActionsInnerTable
{
	width: 200px;
	border-left: 1px solid #9c9c9c;
	border-right: 1px solid #9c9c9c;
	border-bottom: 1px solid #9c9c9c;
	background-color: White;
	-moz-box-shadow: 0 5px 5px #888;
	-webkit-box-shadow: 0 5px 5px #888;
	box-shadow: 0 5px 5px #888;
}
.MoreActionsInnerCell
{
	vertical-align: top;
	padding: 8px 8px 8px 8px;
	border-left: solid 1px #cecece;
}
.otherTabMoreArrow
{
	vertical-align: middle;
}

/* 11/26/2010 Paul.  Add styles for the Check All hover. */
.ActionMenu
{
	border: 1px solid #999999;
	background-color: #f6f6f6;
}
.ActionMenuItem
{
	padding: 1px 5px 1px 7px;
	color: #000000;
	line-height: 18px;
	width: 120px;
	text-align: left;
	border-bottom: 1px solid #999999;
}
.ActionMenuItem:hover
{
	background-color: #fdfdfd;
}
a.ActionMenuLink:link, a.ActionMenuLink:active, a.ActionMenuLink:visited, a.ActionMenuLink:hover
{
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}

/* http://www.bennadel.com/blog/1734-Using-CSS-Fixed-Position-Elements-Across-Browsers.htm */
/* 05/04/2010 Paul.  Must change the DOCTYPE to <!DOCTYPE HTML> */
/* 10/18/2014 Paul.  Add z-index so that toolbar stays on top of report. */
.SixToolbar
{
	width: 100%;
	height: 45px;
	background-color: #FFD14E;
	color: #003564;
	position: fixed;
	left: 0px;
	top: 0px;
	_position: absolute;
	_top: expression( ie6 = (document.documentElement.scrollTop + "px") );
	z-index: 100;
}
.SixToolbarLogin
{
	width: 100%;
	height: 45px;
	background-color: #FFD14E;
	color: #003564;
	left: 0px;
	top: 0px;
}
.SixToolbarUser
{
	height: 45px;
	background-color: #FFD14E;
	color: #003564;
	position: fixed;
	right: 0px;
	top: 0px;
	_position: absolute;
	_top: expression( ie6 = (document.documentElement.scrollTop + "px") );
	z-index: 100;
}
/* 11/06/2013 Paul.  Add support for RTL languages. */
.SixToolbarUserRTL
{
	height: 45px;
	background-color: #FFD14E;
	color: #003564;
	position: fixed;
	left: 0px;
	top: 0px;
	_position: absolute;
	_top: expression( ie6 = (document.documentElement.scrollTop + "px") );
	z-index: 100;
}

/* 05/23/2010 Paul.  New styles for the EmailClient.  */
/* 05/23/2010 Paul.  The TreeView has a bug that forces 1em, so we need to use 1em to prevent the size from switching. */
a.nodeEmailFolderLink
{
	text-decoration: none;
	font-size: 1em;
}
a.leafEmailFolderLink, a.leafEmailFolderLink:visited, a.leafEmailFolderLink:hover
{
}
a.parentEmailFolderLink, a.parentEmailFolderLink:visited, a.parentEmailFolderLink:hover
{
}
a.selectedEmailFolderLink, a.selectedEmailFolderLink:visited, a.selectedEmailFolderLink:hover
{
	background-color: #CCCCCC;
}
a.nodeStudioFolderLink
{
	text-decoration: none;
	font-size: 1em;
}
a.leafStudioFolderLink, a.leafStudioFolderLink:visited, a.leafStudioFolderLink:hover
{
}
a.parentStudioFolderLink, a.parentStudioFolderLink:visited, a.parentStudioFolderLink:hover
{
}
a.selectedStudioFolderLink, a.selectedStudioFolderLink:visited, a.selectedStudioFolderLink:hover
{
	background-color: #CCCCCC;
}
.EmailDetailViewDL
{
	padding: 2px 4px 2px 4px;
	background-color: #f6f6f6;
	font-size: 11px;
	vertical-align: top;
	text-align: right;
	font-weight: bold;
	color: #9C9A9C;
}
.EmailDetailViewDF
{
	padding: 2px 4px 2px 4px;
	background-color: #f6f6f6;
	font-size: 11px;
	vertical-align: top;
	text-align: left;
	color: #000000;
}
.jQueryDragHandle
{
	background-image: url(images/draghandle_list.gif);
	background-repeat: no-repeat;
	background-position: top;
}
tr.jQueryDragBorder td
{
	background-color: #d6d6d6;
}
.pointer
{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;
	line-height: 16px;
	font-size: 18px;
	font-weight: bold;
	color: #666666;
}
/* 01/07/2013 Paul.  Need to prevent a nowrap style from getting inherited. */
.ListViewInfoHover
{
	width: 300px;
	border: 1px solid #9c9c9c;
	background-color: White;
	white-space: normal;
}
.PanelHoverHidden
{
	display: none;
	visibility: hidden;
}
/* 08/28/2010 Paul.  Moved from Jigsaw control. */
.buttonLogin
{
	border: 1px solid #444444;
	font-size: 11px;
	color: #ffffff;
	background-color: #666666;
	font-weight: bold;
}

/* 09/20/2010 Paul.  Restore ACL styles. */
.aclAll
{
	color: Green;
	font-weight: bold;
}
.aclOwner
{
	color: Black;
	font-weight: bold;
}
.aclNone
{
	color: Red;
	font-weight: bold;
}
.aclEnabled
{
	color: Green;
	font-weight: bold;
}
.aclDisabled
{
	color: Red;
	font-weight: bold;
}
.aclNormal
{
	color: Green;
	font-weight: bold;
}
.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.modalPopup
{
	background-color: White;
	border-width: 3px;
	border-style: solid;
	border-color: Gray;
	padding: 3px;
	width: 400px;
}
.PasswordHelp
{
	background-image: url(images/help.gif);
	height: 16px;
	width: 16px;
}

.overdueTask
{
	color: Red;
}
.futureTask
{
	color: Green;
}
.QueryDesigner
{
	background-color: #f4f4f4;
	vertical-align: top;
	color: black;
}
.QueryDesigner_Selected
{
	background-color: #0A246A;
	vertical-align: top;
	color: white;
}

/* http://css3buttongenerator.com/ */
/* http://www.w3schools.com/css/css3_borders.asp */
.ModuleHeaderFirstButton
{
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 4 0 0 4;
	-moz-border-radius: 4 0 0 4;
	border-radius: 4px 0px 0px 4px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	height: 26px;
	margin-top: 0px;
	margin-right: 0px;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #999999;
}
.ModuleHeaderFirstButton:hover
{
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}
.ModuleHeaderMoreButton
{
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 0 4 4 0;
	-moz-border-radius: 0 4 4 0;
	border-radius: 0px 4px 4px 0px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	height: 26px;
	margin-top: 0px;
	margin-left: 0px;
}
.ModuleHeaderMoreButton:hover
{
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}
.ModuleHeaderOtherButton
{
	font-family: Arial;
	color: #1a191a;
	font-size: 12px;
	background: #ffffff;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid #dbdbdb 1px;
	text-decoration: none;
	text-align: left;
	display: block;
	width: 100%;
}
.ModuleHeaderOtherButton:hover
{
	background: #dbdbdb;
	text-decoration: none;
}
.ModuleHeaderOtherPanel
{
	width: 200px;
	border: solid #dbdbdb 1px;
	background: white;
	z-index: 100;
}

.ListHeaderFirstButton
{
	background: #D0D0D0;
	background-image: -webkit-linear-gradient(top, #e0e0e0, #d4d4d4);
	background-image: -moz-linear-gradient(top, #e0e0e0, #d4d4d4);
	background-image: -ms-linear-gradient(top, #e0e0e0, #d4d4d4);
	background-image: -o-linear-gradient(top, #e0e0e0, #d4d4d4);
	background-image: linear-gradient(to bottom, #e0e0e0, #d4d4d4);
	-webkit-border-radius: 4 0 0 4;
	-moz-border-radius: 4 0 0 4;
	border-radius: 4px 0px 0px 4px;
	font-family: Arial;
	color: #808080;
	font-size: 14px;
	font-weight: 600;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	height: 26px;
	margin-top: 0px;
	margin-right: 0px;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border: 1px solid #cccccc;
}
.ListHeaderFirstButton:hover
{
	background: #C0C0C0;
	background-image: -webkit-linear-gradient(top, #d0d0d0, #c4c4c4);
	background-image: -moz-linear-gradient(top, #d0d0d0, #c4c4c4);
	background-image: -ms-linear-gradient(top, #d0d0d0, #c4c4c4);
	background-image: -o-linear-gradient(top, #d0d0d0, #c4c4c4);
	background-image: linear-gradient(to bottom, #d0d0d0, #c4c4c4);
	text-decoration: none;
}

.ListHeaderMoreButton
{
	background: #D0D0D0;
	background-image: -webkit-linear-gradient(top, #e0e0e0, #d4d4d4);
	background-image: -moz-linear-gradient(top, #e0e0e0, #d4d4d4);
	background-image: -ms-linear-gradient(top, #e0e0e0, #d4d4d4);
	background-image: -o-linear-gradient(top, #e0e0e0, #d4d4d4);
	background-image: linear-gradient(to bottom, #e0e0e0, #d4d4d4);
	-webkit-border-radius: 0 4 4 0;
	-moz-border-radius: 0 4 4 0;
	border-radius: 0px 4px 4px 0px;
	font-family: Arial;
	color: #808080;
	font-size: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	height: 30px;
	margin-top: 0px;
	margin-left: 0px;
	border: 1px solid #cccccc;
}
.ListHeaderMoreButton:hover
{
	background: #C0C0C0;
	background-image: -webkit-linear-gradient(top, #d0d0d0, #c4c4c4);
	background-image: -moz-linear-gradient(top, #d0d0d0, #c4c4c4);
	background-image: -ms-linear-gradient(top, #d0d0d0, #c4c4c4);
	background-image: -o-linear-gradient(top, #d0d0d0, #c4c4c4);
	background-image: linear-gradient(to bottom, #d0d0d0, #c4c4c4);
	text-decoration: none;
}

.ListHeaderSearchButton
{
	background: #D0D0D0;
	background-image: -webkit-linear-gradient(top, #e0e0e0, #d4d4d4);
	background-image: -moz-linear-gradient(top, #e0e0e0, #d4d4d4);
	background-image: -ms-linear-gradient(top, #e0e0e0, #d4d4d4);
	background-image: -o-linear-gradient(top, #e0e0e0, #d4d4d4);
	background-image: linear-gradient(to bottom, #e0e0e0, #d4d4d4);
	-webkit-border-radius: 0 4 4 0;
	-moz-border-radius: 0 4 4 0;
	border-radius: 0px 4px 4px 0px;
	font-family: Arial;
	color: #808080;
	font-size: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 14px;
	padding-right: 14px;
	text-decoration: none;
	height: 26px;
	margin-top: 0px;
	margin-left: 0px;
	border: 1px solid #cccccc;
}
.ListHeaderSearchButton:hover
{
	background: #C0C0C0;
	background-image: -webkit-linear-gradient(top, #d0d0d0, #c4c4c4);
	background-image: -moz-linear-gradient(top, #d0d0d0, #c4c4c4);
	background-image: -ms-linear-gradient(top, #d0d0d0, #c4c4c4);
	background-image: -o-linear-gradient(top, #d0d0d0, #c4c4c4);
	background-image: linear-gradient(to bottom, #d0d0d0, #c4c4c4);
	text-decoration: none;
}

.ListHeaderOtherButton
{
	font-family: Arial;
	color: #1a191a;
	font-size: 12px;
	background: #ffffff;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid #dbdbdb 1px;
	text-decoration: none;
	text-align: left;
	display: block;
	width: 100%;
}
.ListHeaderOtherButton:hover
{
	background: #dbdbdb;
	text-decoration: none;
}
.ListHeaderOtherPanel
{
	width: 150px;
	border: solid #dbdbdb 1px;
	background: white;
	z-index: 100;
}

.DataGridFirstButton, .DataGridOtherButton
{
	font-family: Arial;
	color: #1a191a;
	font-size: 12px;
	background: #ffffff;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid #dbdbdb 1px;
	text-decoration: none;
	text-align: left;
	display: block;
	width: 100%;
}
.DataGridFirstButton:hover, .DataGridOtherButton:hover
{
	background: #eeeeee;
	text-decoration: none;
}
.DataGridMoreButton
{
	background: #eeeeee;
	background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
	background-image: -moz-linear-gradient(top, #eeeeee, #e0e0e0);
	background-image: -ms-linear-gradient(top, #eeeeee, #e0e0e0);
	background-image: -o-linear-gradient(top, #eeeeee, #e0e0e0);
	background-image: linear-gradient(to bottom, #eeeeee, #e0e0e0);
	-webkit-border-radius: 0 4 4 0;
	-moz-border-radius: 0 4 4 0;
	border-radius: 0px 4px 4px 0px;
	font-family: Arial;
	color: #808080;
	font-size: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	height: 26px;
	margin-top: -2px;
	margin-left: 0px;
	border: 1px solid #cccccc;
}
.DataGridMoreButton:hover
{
	background: #dddddd;
	background-image: -webkit-linear-gradient(top, #dddddd, #d0d0d0);
	background-image: -moz-linear-gradient(top, #dddddd, #d0d0d0);
	background-image: -ms-linear-gradient(top, #dddddd, #d0d0d0);
	background-image: -o-linear-gradient(top, #dddddd, #d0d0d0);
	background-image: linear-gradient(to bottom, #dddddd, #d0d0d0);
	text-decoration: none;
}
.DataGridOtherPanel
{
	width: 140px;
	border: solid #dbdbdb 1px;
	background: white;
	z-index: 100;
}
.MassUpdateHeaderFirstButton, .MassUpdateHeaderOtherButton
{
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 4 4 4 4;
	-moz-border-radius: 4 4 4 4;
	border-radius: 4px 4px 4px 4px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	height: 26px;
	margin-top: 0px;
	margin-right: 0px;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #999999;
}
.MassUpdateHeaderFirstButton:hover, .MassUpdateHeaderOtherButton:hover
{
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}
.MassUpdateHeaderFrame
{
	background-color: #F5F5F5;
	height: 40px;
	width: 100%;
}
.MassUpdateHeaderName
{
	padding-left: 10px;
	color: #58595B;
	font-size: 12px;
	font-weight: 700;
}
.MassUpdateHeaderClose
{
	padding-left: 8px;
	padding-right: 8px;
	background-color: #F5F5F5;
}
.CheckAllPaddingBottom
{
	height: 2px;
}

.EditHeaderFirstButton
{
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 4 4 4 4;
	-moz-border-radius: 4 4 4 4;
	border-radius: 4px 4px 4px 4px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	height: 26px;
	margin-left: 4px;
	margin-top: 0px;
	margin-right: 0px;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #999999;
}
.EditHeaderFirstButton:hover
{
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}
.EditHeaderFirstButton:disabled
{
	background: #C2D7E6;
}
.EditHeaderOtherButton
{
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 4 4 4 4;
	-moz-border-radius: 4 4 4 4;
	border-radius: 4px 4px 4px 4px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	height: 26px;
	margin-left: 4px;
	margin-top: 0px;
	margin-right: 0px;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #999999;
}
.EditHeaderOtherButton:hover
{
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}
.EditHeaderOtherButton:disabled
{
	background: #C2D7E6;
}

/* 06/05/2015 Paul.  Need to correct spacing of header on DetailView. */
.tabStackedDetailViewDL h4
{
	padding-left: 0px;
	margin-bottom: -6px;
}
.tabStackedEditViewDL h4
{
	padding-left: 0px;
	margin-bottom: -4px;
}
/* 02/15/2016 Paul.  Grab is used on the new layout editor. */
.grab
{
	cursor: hand;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
/* 05/14/2016 Paul.  Add Tags module. */
.Tags
{
	color: white;
	background-color: #565656;
	-webkit-border-radius: 4 4 4 4;
	-moz-border-radius: 4 4 4 4;
	border-radius: 4px 4px 4px 4px;
	padding: 2px 5px 2px 5px;
	margin-top: 1px;
	margin-bottom: 2px;
	display: inline-block;
}
/* 08/02/2016 Paul.  Add buttons used with Business Processes. */
.ProcessApprove
{
	background-color: #308000;
	background-image: none;
	-webkit-border-radius: 4 4 4 4;
	-moz-border-radius: 4 4 4 4;
	border-radius: 4px 4px 4px 4px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	padding: 4px;
	text-decoration: none;
	height: 26px;
	margin-top: 0px;
	margin-right: 0px;
}
.ProcessApprove:hover
{
	background: #50a020;
	color: #ffffff;
	text-decoration: none;
}
.ProcessReject
{
	background-color: #E90000;
	background-image: none;
	-webkit-border-radius: 4 4 4 4;
	-moz-border-radius: 4 4 4 4;
	border-radius: 4px 4px 4px 4px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	padding: 4px;
	text-decoration: none;
	height: 26px;
	margin-top: 0px;
	margin-right: 0px;
}
.ProcessReject:hover
{
	background: #ff3030;
	color: #ffffff;
	text-decoration: none;
}
.ProcessRoute
{
	background-color: #0760E0;
	background-image: none;
	-webkit-border-radius: 4 4 4 4;
	-moz-border-radius: 4 4 4 4;
	border-radius: 4px 4px 4px 4px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	padding: 4px;
	text-decoration: none;
	height: 26px;
	margin-top: 0px;
	margin-right: 0px;
}
.ProcessRoute:hover
{
	background: #2780ff;
	color: #ffffff;
	text-decoration: none;
}
.ProcessClaim
{
	background-color: #308000;
	background-image: none;
	-webkit-border-radius: 4 4 4 4;
	-moz-border-radius: 4 4 4 4;
	border-radius: 4px 4px 4px 4px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	padding: 4px;
	text-decoration: none;
	height: 26px;
	margin-top: 0px;
	margin-right: 0px;
}
.ProcessClaim:hover
{
	background: #50a020;
	color: #ffffff;
	text-decoration: none;
}
.ProcessStatus
{
	font-size: 14px;
}
.ProcessOverdue
{
	color: red;
}
.ProcessAddNotes
{
	background-color: #0F5BF5;
	background-image: none;
	-webkit-border-radius: 4 4 4 4;
	-moz-border-radius: 4 4 4 4;
	border-radius: 4px 4px 4px 4px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	padding: 4px 10px 4px 10px;
	text-decoration: none;
	height: 26px;
	margin-top: 0px;
	margin-right: 0px;
}
.ProcessAddNotes:hover
{
	background: #2F7BFf;
	color: #ffffff;
	text-decoration: none;
}
/* 09/24/2016 Paul.  Use style instead of inline size. */
.paginationButtonPrevious
{
	width: 24px;
	height: 24px;
	border-collapse: collapse;
}
.paginationButtonNext
{
	width: 24px;
	height: 24px;
	border-collapse: collapse;
}

/* 06/15/2017 Paul.  Move Process styles from MyProcesses.ascx user control to stylesheet. */
.MyProcessFrame               { text-align: left; background-color: white; border-left: 1px solid #E1E1E1; border-right: 1px solid #E1E1E1; border-bottom: 1px solid #E1E1E1; padding: 4px; }
.MyProcessFrame a:link        { font-weight: bold; text-decoration: none; }
.MyProcessActiveTab           { font-weight: bold;   background-color: white;   text-align: center; cursor: pointer; border-left: 1px solid #E1E1E1; border-right: 1px solid #E1E1E1; border-top: 1px solid #E1E1E1; padding-top: 4px; padding-bottom: 4px; margin: 0px; }
.MyProcessInactiveTab         { font-weight: normal; background-color: #F6F6F6; text-align: center; cursor: pointer; border: 1px solid #E1E1E1; margin: 0px; }
.MyProcessCount               { font-size: 14px; }
.MyProcessCountLabel          { font-size: 11px; }
.MyProcessName                { font-size: 14px; color: #667DE9; }
.MyProcessOverdue             { font-size: 11px; }
.MyProcessActivityName        { font-size: 11px; font-weight: bold; color: black; }
.MyProcessAssignedUser        { font-size: 11px; color: #667DE9; }
.MyProcessBusinessProcessName { font-size: 11px; font-weight: bold; color: black; }
.MyProcessCell                { border-left: 1px solid #E1E1E1; border-right: 1px solid #E1E1E1; border-bottom: 1px solid #E1E1E1; }

