<%@ Control Language="c#" AutoEventWireup="false" Codebehind="DetailView.ascx.cs" Inherits="SplendidCRM.Users.DetailView" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<script runat="server">
/**
 * Copyright (C) 2005-2015 SplendidCRM Software, Inc. All Rights Reserved. 
 *
 * Any use of the contents of this file are subject to the SplendidCRM Professional Source Code License 
 * Agreement, or other written agreement between you and SplendidCRM ("License"). By installing or 
 * using this file, you have unconditionally agreed to the terms and conditions of the License, 
 * including but not limited to restrictions on the number of users therein, and you may not use this 
 * file except in compliance with the License. 
 * 
 * SplendidCRM owns all proprietary rights, including all copyrights, patents, trade secrets, and 
 * trademarks, in and to the contents of this file.  You will not link to or in any way combine the 
 * contents of this file or any derivatives with any Open Source Code in any manner that would require 
 * the contents of this file to be made available to any third party. 
 * 
 * IN NO EVENT SHALL SPLENDIDCRM BE RESPONSIBLE FOR ANY DAMAGES OF ANY KIND, INCLUDING ANY DIRECT, 
 * SPECIAL, PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES.  Other limitations of liability 
 * and disclaimers set forth in the License. 
 * 
 */
</script>
<script type="text/javascript">
function PasswordPopup()
{
	return window.open('Password.aspx','PasswordPopup','width=500,height=300,resizable=1,scrollbars=1');
}

function ChangePassword(sOLD_PASSWORD, sNEW_PASSWORD, sCONFIRM_PASSWORD)
{
	document.getElementById('<%= txtOLD_PASSWORD.ClientID     %>').value = sOLD_PASSWORD    ;
	document.getElementById('<%= txtNEW_PASSWORD.ClientID     %>').value = sNEW_PASSWORD    ;
	document.getElementById('<%= txtCONFIRM_PASSWORD.ClientID %>').value = sCONFIRM_PASSWORD;
	document.forms[0].submit();
}
</script>
<div id="divMain">
	<input ID="txtOLD_PASSWORD"     type="hidden" Runat="server" />
	<input ID="txtNEW_PASSWORD"     type="hidden" Runat="server" />
	<input ID="txtCONFIRM_PASSWORD" type="hidden" Runat="server" />

	<%-- 05/31/2015 Paul.  Combine ModuleHeader and DynamicButtons. --%>
<%--    <% if (SplendidCRM.Security.IS_ADMIN)
        { 
     %>--%>
        <%@ Register TagPrefix="SplendidCRM" Tagname="HeaderButtons" Src="~/_controls/HeaderButtons.ascx" %>
	    <SplendidCRM:HeaderButtons ID="ctlDynamicButtons" Module="Users" EnablePrint="true" HelpName="DetailView" EnableHelp="true" Runat="Server" />
  <%--  <% } %>--%>
    
    <div id="divDetailView" runat="server">
        <!--            
        <asp:Panel ID="pnlSearchTabs" Visible="true" runat="server">
		    <ul class="tablist">
			    <li><asp:HyperLink ID="lnkBasicInfo"     Text='<%# L10n.Term("Users.LNK_USER_DETAIL_INFO"    ) %>' CssClass="current" Runat="server" /></li>
                <li><asp:HyperLink ID="lnkKpiInfo"  Text='<%# L10n.Term("Users.LNK_USER_KPI_INFO" ) %>' CssClass="" Runat="server" /></li>
                <li><asp:HyperLink ID="lnkEvaluationResultInfo"  Text='<%# L10n.Term("Users.LNK_USER_EVALUATION_INFO" ) %>' CssClass="" Runat="server" /></li>
		    </ul>
	    </asp:Panel>
        -->                

	    <asp:HiddenField ID="LAYOUT_DETAIL_VIEW" Runat="server" />
	    <table ID="tblMain" class="tabDetailView" runat="server">
		    <tr>
			    <th colspan="4" class="dataLabel"><h4><asp:Label Text='<%# L10n.Term("Users.LBL_USER_INFORMATION") %>' runat="server" /></h4></th>
		    </tr>
	    </table>
	    <p></p>
    </div>

	<asp:Table SkinID="tabDetailView" runat="server">
		<asp:TableRow>
			<asp:TableCell width="15%" VerticalAlign="top" CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_NAME") %></asp:TableCell>
			<asp:TableCell width="35%" VerticalAlign="top" CssClass="tabDetailViewDF"><asp:Label ID="txtNAME" Runat="server" /></asp:TableCell>
			<asp:TableCell width="15%" VerticalAlign="top" CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_USER_NAME") %></asp:TableCell>
			<asp:TableCell width="35%" VerticalAlign="top" CssClass="tabDetailViewDF"><asp:Label ID="txtUSER_NAME" Runat="server" /></asp:TableCell>
		</asp:TableRow>
		<asp:TableRow>
			<asp:TableCell VerticalAlign="top" CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_STATUS") %></asp:TableCell>
			<asp:TableCell VerticalAlign="top" CssClass="tabDetailViewDF"><asp:Label ID="txtSTATUS" Runat="server" /></asp:TableCell>
			<asp:TableCell ID="tdDEFAULT_TEAM_Label" VerticalAlign="top" CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_DEFAULT_TEAM") %></asp:TableCell>
			<asp:TableCell ID="tdDEFAULT_TEAM_Field" VerticalAlign="top" CssClass="tabDetailViewDF"><asp:Label ID="DEFAULT_TEAM_NAME" Runat="server" /></asp:TableCell>
		</asp:TableRow>
		<asp:TableRow>
			<asp:TableCell VerticalAlign="top" CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_PICTURE") %></asp:TableCell>
			<asp:TableCell VerticalAlign="top" CssClass="tabDetailViewDF"><img id="imgPICTURE" style="width: 36px; height: 36px;" runat="server" /></asp:TableCell>
			<asp:TableCell VerticalAlign="top" CssClass="tabDetailViewDL"></asp:TableCell>
			<asp:TableCell VerticalAlign="top" CssClass="tabDetailViewDF"></asp:TableCell>
		</asp:TableRow>
	</asp:Table>
</div>

<div id="divUserSettings">

	<p></p>
	<asp:Table SkinID="tabDetailView" runat="server">
		<asp:TableRow>
			<asp:TableHeaderCell ColumnSpan="3" CssClass="dataLabel"><h4><asp:Label Text='<%# L10n.Term("Users.LBL_USER_SETTINGS") %>' runat="server" /></h4></asp:TableHeaderCell>
		</asp:TableRow>
		<asp:TableRow Visible='<%# SplendidCRM.Security.IS_ADMIN %>'>
			<asp:TableCell width="20%" CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_ADMIN") %>&nbsp;</asp:TableCell>
			<asp:TableCell width="15%" CssClass="tabDetailViewDF"><asp:CheckBox ID="chkIS_ADMIN" Enabled="false" CssClass="checkbox" Runat="server" />&nbsp;</asp:TableCell>
			<asp:TableCell width="65%" CssClass="tabDetailViewDF"><%= L10n.Term("Users.LBL_ADMIN_TEXT") %>&nbsp;</asp:TableCell>
		</asp:TableRow>
		<asp:TableRow Visible='<%# SplendidCRM.Security.AdminUserAccess(m_sMODULE, "view") >= 0 %>'>
			<asp:TableCell width="20%" CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_ADMIN_DELEGATE") %>&nbsp;</asp:TableCell>
			<asp:TableCell width="15%" CssClass="tabDetailViewDF"><asp:CheckBox ID="chkIS_ADMIN_DELEGATE" Enabled="false" CssClass="checkbox" Runat="server" />&nbsp;</asp:TableCell>
			<asp:TableCell width="65%" CssClass="tabDetailViewDF"><%= L10n.Term("Users.LBL_ADMIN_DELEGATE_TEXT") %>&nbsp;</asp:TableCell>
		</asp:TableRow>
		<asp:TableRow Visible="false">
			<asp:TableCell CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_PORTAL_ONLY") %>&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><asp:CheckBox ID="chkPORTAL_ONLY" Enabled="false" CssClass="checkbox" Runat="server" />&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><%= L10n.Term("Users.LBL_PORTAL_ONLY_TEXT") %>&nbsp;</asp:TableCell>
		</asp:TableRow>
		<asp:TableRow Visible="true">
			<asp:TableCell CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_RECEIVE_NOTIFICATIONS") %>&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><asp:CheckBox ID="chkRECEIVE_NOTIFICATIONS" Enabled="false" CssClass="checkbox" Runat="server" />&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><%= L10n.Term("Users.LBL_RECEIVE_NOTIFICATIONS_TEXT") %>&nbsp;</asp:TableCell>
		</asp:TableRow>
		<asp:TableRow>
			<asp:TableCell CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_THEME") %>&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><asp:Label ID="txtTHEME" Runat="server" /></asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><%= L10n.Term("Users.LBL_THEME_TEXT") %>&nbsp;</asp:TableCell>
		</asp:TableRow>
		<asp:TableRow>
			<asp:TableCell CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_LANGUAGE") %>&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><asp:Label ID="txtLANGUAGE" Runat="server" /></asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><%= L10n.Term("Users.LBL_LANGUAGE_TEXT") %>&nbsp;</asp:TableCell>
		</asp:TableRow>
		<asp:TableRow>
			<asp:TableCell CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_DATE_FORMAT") %>&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><asp:Label ID="txtDATEFORMAT" Runat="server" /></asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><%= L10n.Term("Users.LBL_DATE_FORMAT_TEXT") %>&nbsp;</asp:TableCell>
		</asp:TableRow>
		<asp:TableRow>
			<asp:TableCell CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_TIME_FORMAT") %>&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><asp:Label ID="txtTIMEFORMAT" Runat="server" /></asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><%= L10n.Term("Users.LBL_TIME_FORMAT_TEXT") %>&nbsp;</asp:TableCell>
		</asp:TableRow>
		<asp:TableRow>
			<asp:TableCell CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_TIMEZONE") %>&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><asp:Label ID="txtTIMEZONE" Runat="server" /></asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><%= L10n.Term("Users.LBL_TIMEZONE_TEXT") %>&nbsp;</asp:TableCell>
		</asp:TableRow>
		<asp:TableRow>
			<asp:TableCell CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_CURRENCY") %>&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><asp:Label ID="txtCURRENCY" Runat="server" /></asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><%= L10n.Term("Users.LBL_CURRENCY_TEXT") %>&nbsp;</asp:TableCell>
		</asp:TableRow>
		<asp:TableRow Visible="false">
			<asp:TableCell CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_REMINDER") %>&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF">
				<!-- 08/05/2006 Paul.  Remove stub of unsupported code. Reminder is not supported at this time. -->
				<asp:CheckBox ID="chkREMINDER" Enabled="false" CssClass="checkbox" Runat="server" />&nbsp;
			</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><%= L10n.Term("Users.LBL_REMINDER_TEXT") %>&nbsp;</asp:TableCell>
		</asp:TableRow>
		<asp:TableRow>
			<asp:TableCell CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_SAVE_QUERY") %>&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><asp:CheckBox ID="chkSAVE_QUERY" Enabled="false" CssClass="checkbox" Runat="server" />&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><%= L10n.Term("Users.LBL_SAVE_QUERY_TEXT") %>&nbsp;</asp:TableCell>
		</asp:TableRow>
		<asp:TableRow>
			<asp:TableCell CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_GROUP_TABS") %>&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><asp:CheckBox ID="chkGROUP_TABS" Enabled="false" CssClass="checkbox" Runat="server" />&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><%= L10n.Term("Users.LBL_GROUP_TABS_TEXT") %>&nbsp;</asp:TableCell>
		</asp:TableRow>
		<asp:TableRow>
			<asp:TableCell CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_SUBPANEL_TABS") %>&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><asp:CheckBox ID="chkSUBPANEL_TABS" Enabled="false" CssClass="checkbox" Runat="server" />&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><%= L10n.Term("Users.LBL_SUBPANEL_TABS_TEXT") %>&nbsp;</asp:TableCell>
		</asp:TableRow>
		<asp:TableRow Visible='<%# SplendidCRM.Security.IS_ADMIN %>'>
			<asp:TableCell CssClass="tabDetailViewDL"><%= L10n.Term("Users.LBL_SYSTEM_GENERATED_PASSWORD") %>&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><asp:CheckBox ID="chkSYSTEM_GENERATED_PASSWORD" Enabled="false" CssClass="checkbox" Runat="server" />&nbsp;</asp:TableCell>
			<asp:TableCell CssClass="tabDetailViewDF"><%= L10n.Term("Users.LBL_SYSTEM_GENERATED_PASSWORD") %>&nbsp;</asp:TableCell>
		</asp:TableRow>
	</asp:Table>
	<p></p>
</div>

<div id="divMailOptions">
	<p></p>	
     <% if (SplendidCRM.Security.IS_ADMIN)
        { 
     %>
        <h4><asp:Label Text='<%# L10n.Term("Users.LBL_MAIL_OPTIONS_TITLE") %>' runat="server" /></h4>
	    <%@ Register TagPrefix="SplendidCRM" Tagname="DynamicButtons" Src="~/_controls/DynamicButtons.ascx" %>
	    <SplendidCRM:DynamicButtons ID="ctlExchangeButtons" Visible="<%# !PrintView %>" Runat="Server" />
    <% } %>

	<table ID="tblMailOptions" class="tabDetailView" runat="server">
	</table>
	<p></p>
</div>
<!--
<asp:Panel ID="pnlGoogleAppsOptions" runat="server">
	<p></p>
	<h4><asp:Label Text='<%# L10n.Term("Users.LBL_GOOGLEAPPS_OPTIONS_TITLE") %>' runat="server" /></h4>
	<SplendidCRM:DynamicButtons ID="ctlGoogleAppsButtons" Visible="<%# !PrintView %>" Runat="Server" />
	<table ID="tblGoogleAppsOptions" class="tabDetailView" runat="server">
	</table>
	<p></p>
</asp:Panel>

<asp:Panel ID="pnlICloudOptions" runat="server">
	<p></p>
	<h4><asp:Label Text='<%# L10n.Term("Users.LBL_ICLOUD_OPTIONS_TITLE") %>' runat="server" /></h4>
	<SplendidCRM:DynamicButtons ID="ctlICloudButtons" Visible="<%# !PrintView %>" Runat="Server" />
	<table ID="tblICloudOptions" class="tabDetailView" runat="server">
	</table>
	<p></p>
</asp:Panel>
-->

 <% if (SplendidCRM.Security.IS_ADMIN)
    { 
 %>
    <%@ Register TagPrefix="SplendidCRM" Tagname="ListHeader" Src="~/_controls/ListHeader.ascx" %>
    <SplendidCRM:ListHeader SubPanel="divAccessRights" Title="Users.LBL_ACCESS_RIGHTS" Runat="Server" />
    <div id="divAccessRights" style='<%= "display:" + (CookieValue("divAccessRights") != "1" ? "inline" : "none") %>'>
	    <%@ Register TagPrefix="SplendidCRM" Tagname="AccessView" Src="~/Administration/ACLRoles/AccessView.ascx" %>
	    <SplendidCRM:AccessView ID="ctlAccessView" EnableACLEditing="false" Runat="Server" />
    </div>
<% } %>

<div id="divDetailSubPanel">
	<%@ Register TagPrefix="SplendidCRM" Tagname="Signatures" Src="Signatures.ascx" %>
	<SplendidCRM:Signatures ID="ctlSignatures" Runat="Server" />
	
	<%@ Register TagPrefix="SplendidCRM" Tagname="Roles" Src="Roles.ascx" %>
	<SplendidCRM:Roles ID="ctlRoles" Runat="Server" />
	
	<%@ Register TagPrefix="SplendidCRM" Tagname="Teams" Src="Teams.ascx" %>
	<SplendidCRM:Teams ID="ctlTeams" Runat="Server" />
	
	<asp:PlaceHolder ID="plcSubPanel" Runat="server" />

	<%@ Register TagPrefix="SplendidCRM" Tagname="Logins" Src="Logins.ascx" %>
	<SplendidCRM:Logins ID="ctlLogins" Visible='<%# SplendidCRM.Security.AdminUserAccess(m_sMODULE, "view") >= 0 %>' Runat="Server" />
</div>

<%@ Register TagPrefix="SplendidCRM" Tagname="DumpSQL" Src="~/_controls/DumpSQL.ascx" %>
<SplendidCRM:DumpSQL ID="ctlDumpSQL" Visible="<%# !PrintView %>" Runat="Server" />

