<%@ Control Language="c#" AutoEventWireup="false" Codebehind="SettingsView.ascx.cs" Inherits="SplendidCRM.EmailClient.SettingsView" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<script runat="server">
/**
 * Copyright (C) 2005-2010 SplendidCRM Software, Inc. All Rights Reserved. 
 *
 * Any use of the contents of this file are subject to the SplendidCRM Professional Source Code License 
 * Agreement, or other written agreement between you and SplendidCRM ("License"). By installing or 
 * using this file, you have unconditionally agreed to the terms and conditions of the License, 
 * including but not limited to restrictions on the number of users therein, and you may not use this 
 * file except in compliance with the License. 
 * 
 * SplendidCRM owns all proprietary rights, including all copyrights, patents, trade secrets, and 
 * trademarks, in and to the contents of this file.  You will not link to or in any way combine the 
 * contents of this file or any derivatives with any Open Source Code in any manner that would require 
 * the contents of this file to be made available to any third party. 
 * 
 * IN NO EVENT SHALL SPLENDIDCRM BE RESPONSIBLE FOR ANY DAMAGES OF ANY KIND, INCLUDING ANY DIRECT, 
 * SPECIAL, PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES.  Other limitations of liability 
 * and disclaimers set forth in the License. 
 * 
 */
</script>
<SplendidCRM:InlineScript runat="server">
<script type="text/javascript">
function toggleUseSSL()
{
	var MAILBOX_SSL = document.getElementById('<%= new SplendidCRM.DynamicControl(this, "MAILBOX_SSL").ClientID %>');
	var PORT        = document.getElementById('<%= new SplendidCRM.DynamicControl(this, "PORT"       ).ClientID %>');
	if ( MAILBOX_SSL != null && PORT != null )
	{
		if ( MAILBOX_SSL.checked )
			PORT.value = '<%= (sSERVICE == "imap") ? "993" : ((sSERVICE == "pop3") ? "995" : String.Empty) %>';
		else
			PORT.value = '<%= (sSERVICE == "imap") ? "143" : ((sSERVICE == "pop3") ? "110" : String.Empty) %>';
	}
}
function GmailDefaults()
{
	var SERVER_URL  = document.getElementById('<%= new SplendidCRM.DynamicControl(this, "SERVER_URL" ).ClientID %>');
	var MAILBOX_SSL = document.getElementById('<%= new SplendidCRM.DynamicControl(this, "MAILBOX_SSL").ClientID %>');
	var PORT        = document.getElementById('<%= new SplendidCRM.DynamicControl(this, "PORT"       ).ClientID %>');
	if ( SERVER_URL != null && MAILBOX_SSL != null && PORT != null )
	{
		SERVER_URL.value = '<%= (sSERVICE == "imap") ? "imap.gmail.com" : ((sSERVICE == "pop3") ? "pop.gmail.com" : String.Empty) %>';
		PORT.value = '<%= (sSERVICE == "imap") ? "993" : ((sSERVICE == "pop3") ? "995" : String.Empty) %>';
		MAILBOX_SSL.checked = true;
	}
}
</script>
</SplendidCRM:InlineScript>
<div id="divEditView" runat="server">
	<p></p>
	<%@ Register TagPrefix="SplendidCRM" Tagname="DynamicButtons" Src="~/_controls/DynamicButtons.ascx" %>
	<SplendidCRM:DynamicButtons ID="ctlDynamicButtons" Visible="<%# !PrintView %>" ShowRequired="true" Runat="Server" />
	<asp:Table SkinID="tabForm" runat="server">
		<asp:TableRow>
			<asp:TableCell>
				<table ID="tblMain" class="tabEditView" runat="server">
				</table>
			</asp:TableCell>
		</asp:TableRow>
	</asp:Table>
	<p></p>
</div>

