/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../webfonts/Roboto/Roboto-Regular.ttf') format('truetype');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../webfonts/Roboto/Roboto-Regular.ttf') format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../webfonts/Roboto/Roboto-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*************************************************************
	Style of header, footer, menu, body frame, message
*************************************************************/

/*Luy ke*/
.warning-accumulated {
    color: #00CC33;
    font-weight:bold;
}

.warning-noxau {
    color: #FFCC66;
    font-weight:bold;
}

.listView_padding {
    padding-left: 14px;
}

.right {
    text-align: right;
}

.label {
    cursor: pointer;
    background-color: #696969;
    display: block;
    padding: 10px;
    margin: 3px;
}

html, body {
    position: relative;
}

/*************************************************************
	Common styles
*************************************************************/
body {
    /* border-top: 3px solid #e80e10; */
    margin: 0px;
    padding: 0px;
    font-family: serif;
    font-size: 14px;
    min-height: 100%;
    height: 100%;
    background-color: #c6c6c6;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    /*font-family: serif*/
}

.box-header {
    padding: 5px;
}

/*change by UI of SHB*/
.skin-blue .main-header .logo {
    background-color: #214889;
    border-bottom: 1px solid white;
    font-family: serif;
}

.skin-blue .main-header .navbar {
    background-color: #F58634;
}

.skin-blue .sidebar-menu > li.header {
    color: #ffffff;
    background: #214889;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #214889;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    border-left-color: #F58634;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    background: #214889;
}

.box.box-solid.box-primary > .box-header {
    color: #fff;
    background: #214889;
    background-color: #214889;
}

.skin-blue .main-header li.user-header {
    background-color: #214889;
    color: #fff;
}

.skin-blue .main-header .logo:hover {
    background-color: #214889;
    color: #fff;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: #214889;
}

form {
    margin: 1px;
    padding: 1px;
}

.form-control {
    @extend .form-control;
    height: 30px;
    font-size: 14px;
}

.input-detail {
    padding: 2px 2px;
    text-align: right;
    width: 70px;
}

.column-total {
    width: 70px;
}

.column-node {
    width: 250px;
}

.column-100 {
    width: 100px;
}

.column-150 {
    width: 150px;
}

.column-200 {
    width: 200px;
}

.column-90 {
    width: 90px;
}

.column-80 {
    width: 80px;
}

.column-70 {
    width: 70px;
}

.column-50 {
    width: 50px;
}

.column-40 {
    width: 40px;
}

.column-30 {
    width: 30px;
}

.column-20 {
    width: 20px;
}

.form-group {
    @extend .form-control;
    margin-bottom: 5px;
}

.content {
    padding: 5px;
}

.breadcrumb {
    margin-bottom: 5px;
}

.btn {
    padding: 4px 6px;
}

.text-area {
    height: 50px;
}

.table td, .table th {
    padding: 0.25rem;
}

@media ( min-width : 1367px) {
    .cytoscape-navigator {
        display: block;
    }
}

.input-from-datetimepicker-detail {
    text-align: left;
    background-repeat: no-repeat;
    background-position: right -13px;
    width: 47%;
    background-color: #FFFFFF;
}

.input-to-datetimepicker-detail {
    text-align: left;
    background-repeat: no-repeat;
    background-position: right -13px;
    width: 47%;
    background-color: #FFFFFF;
}

.separator-from-to {
    width: 6%;
    float: left;
    padding-right: 2px;
    padding-left: 2px;
    text-align: center;
}

.crm-table tfoot tr th :not (
:first-child





 





) {
    border-left: 1 px solid #ddd;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.btn-info, .btn-success, .button-shb {
    background-color: #214889;
    color: #fff;
}
