/*************************************************************
	Style of header, footer, menu, body frame, message
*************************************************************/
html, body {
	position: relative
}

/*************************************************************
	Common styles
*************************************************************/
body {
	/* border-top: 3px solid #e80e10; */
	margin: 0px;
	padding: 0px;
	font-family: serif;
	font-size: 14px;
	min-height: 100%;
	height: 100%;
}
html {
    position: relative;
    background-image: url(../Arctic/images/intro/login_intro_bg_1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

body{
    background: none;
    background-color: transparent;
}