/**
 * Copyright (C) 2005-2017 SplendidCRM Software, Inc. All Rights Reserved. 
 *
 * Any use of the contents of this file are subject to the SplendidCRM Professional Source Code License 
 * Agreement, or other written agreement between you and SplendidCRM ("License"). By installing or 
 * using this file, you have unconditionally agreed to the terms and conditions of the License, 
 * including but not limited to restrictions on the number of users therein, and you may not use this 
 * file except in compliance with the License. 
 * 
 * SplendidCRM owns all proprietary rights, including all copyrights, patents, trade secrets, and 
 * trademarks, in and to the contents of this file.  You will not link to or in any way combine the 
 * contents of this file or any derivatives with any Open Source Code in any manner that would require 
 * the contents of this file to be made available to any third party. 
 * 
 * IN NO EVENT SHALL SPLENDIDCRM BE RESPONSIBLE FOR ANY DAMAGES OF ANY KIND, INCLUDING ANY DIRECT, 
 * SPECIAL, PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES.  Other limitations of liability 
 * and disclaimers set forth in the License. 
 * 
 */

.listView_padding{
    padding-left: 14px;
}

.right {
    text-align: right;
}
.label {
    cursor: pointer;
    color: #999999;
    display: block;
    padding: 10px;
    margin: 3px;
}
body {
    margin: 0px 0px 0px 0px;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, Verdana, sans-serif;
}

p {
    margin-top: 0px;
    margin-bottom: 5px;
}

h1, h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
    color: #666666;
    /*text-transform: uppercase;*/
}
/* 10/24/2010 Paul.  Set margin top to 0 to reduce wasted space. */
h3 {
    margin-top: 0px;
    margin-bottom: 3px;
    padding-top: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #666666;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
/* 10/28/2010 Paul.  Set margin top to 0 to reduce wasted space. */
h4, h5 {
    margin-top: 0px;
    margin-bottom: 2px;
    padding-left: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #444444;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

table, td {
    font-size: 12px;
    color: #444444;
}

hr {
    height: 1px;
}
/*
a:link, a:visited {
    color: #444444;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}
*/
h2 a:link, h2 a:visited, h2 a:hover {
    color: #666666;
    text-decoration: none;
}
/* 08/03/2010 Paul.  TextArea was not inheriting the document font. */
/* 10/02/2016 Paul.  Transparent backgrounds were being ignored.  */
input, select, textarea {
    border: 1px solid #999999;
    font-size: 12px;
    font-family: inherit;
    margin: 8px 0px 8px 0px;
    padding: 4px;
}

input:focus, select:focus, textarea:focus {
    border-color: #aaaaaa;
}

.moduleTitle {
    margin-bottom: 5px;
    padding-top: 1px;
    padding-bottom: 3px;
}
/* 05/12/2016 Paul.  Need to add some space on IE11. */
.checkbox, .checkbox input, .radio, .radio input {
    margin-bottom: 0px;
    border: none;
    background-color: transparent;
    vertical-align: bottom;
}

.button {
    border: 1px solid #999999;
    background-color: #eeeeee;
    background-image: url(images/bgGray.gif);
    background-repeat: repeat-x;
    background-position: bottom;
    font-weight: normal;
    color: #444444;
}

.button:hover, .button:focus {
    border-color: #999999;
    color: #444444;
}

.buttonOn, .buttonOn:focus {
    border: 1px solid #999999;
    background-color: #eeeeee;
    background-image: url(images/bgGray.gif);
    background-repeat: repeat-x;
    background-position: top;
    font-size: 12px;
    font-weight: normal;
    color: #444444;
}

.required, .warning, .error {
    color: #ff0000;
}

.tooltip {
    display: none;
    background-color: #ffffcc;
    border: 1px solid #999999;
}

table.h3Row {
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 2px 5px 2px 5px;
    border-top: 1px solid #999999;
    /*background-color: #fafafa;*/
    color: #444444;
    vertical-align: middle;
}

.button-panel {
    margin-bottom: 2px;
}

/* Menu styles */
.subMenu {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    border-top: 0px;
    border-bottom: 1px solid #cccccc;
    font-size: 11px;
    background-color: #ffffff;
    color: #444444;
    width: 100%;
}

ul.subMenu li {
    margin: 0px 0px 0px 0px;
    border: none;
    border-top: 1px solid #cccccc;
    list-style: none;
}

ul.subMenu li a {
    padding: 3px 3px 3px 6px;
    border: none;
    text-decoration: none;
    text-align: left;
    display: block;
}

ul.subMenu li a:hover {
    background-color: #f8f8f8;
    color: #990033;
}

ul.subMenu li span {
    padding: 3px 3px 3px 6px;
    border: none;
    text-decoration: none;
    text-align: left;
    display: block;
}

ul.subMenu li span:hover {
    background-color: #f8f8f8;
    color: #990033;
}

/* ListView styles */
table.listView {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #999999;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #999999;
    font-size: 11px;
}

tr.listViewPaginationTdS1 {
    padding: 1px 5px 2px 5px;
    border-bottom: 1px solid #cccccc;
    background-color: #eeeeee;
    color: #999999;
}

table.listView th, tr.listViewThS1 {
    padding: 3px 5px 3px 5px;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #999999;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #999999;
    background-color: #ebebed;
    font-weight: bold;
    color: #444444;
    text-align: left;
}

.listViewThS1 td {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    color: white;
}

.listViewThS1 a {
    text-decoration: none;
}

.listViewThS1 a:hover {
    text-decoration: underline;
}

table.listView td {
    border-left: none;
    border-right: none;
}

table.listView td a:link, table.listView td a:visited, a.listViewThLinkS1:link, a.listViewThLinkS1:visited {
    color: #444444;
}

.pageNumbers {
    color: #444444;
    vertical-align: 0.3em;
}

table.listview th a:hover, a.listViewThLinkS1:hover {
    color: #990033;
}

tr.oddListRowS1, tr.evenListRowS1 {
    padding: 2px 8px 4px 5px;
    border-bottom: 1px solid #cccccc;
    vertical-align: middle;
}

tr.oddListRowS1:hover, tr.evenListRowS1:hover {
    background-color: #F6A828 !important;
}

tr.oddListRowS1:hover td, tr.evenListRowS1:hover td {
    color: #FFFFFF !important;
}



tr.oddListRowS1 {
    background-color: #f6f6f6;
}

tr.evenListRowS1 {
    background-color: #f6f6f6;
}

a.listViewTdLinkS1:link, a.listViewTdLinkS1:visited {
    color: #990033;
    text-decoration: none;
}

a.listViewTdLinkS1:hover {
    color: #000000;
    text-decoration: underline;
}

a.listViewTdToolsS1:link, a.listViewTdToolsS1:visited, a.listViewTdToolsS1:hover {
    text-decoration: none;
}

a.listViewCheckLink:link, a.listViewCheckLink:visited {
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}

a.listViewCheckLink:hover {
}

/* EditView styles */
/* 12/02/2010 Paul.  We use the tabForm in a panel. */
/* 06/01/2015 Paul.  We removed paragraph tags from EditView so we need to add margin after the form. */
.tabForm {
    /*
    border-top: 1px solid #214889;
    border-bottom: 1px solid #214889;
    border-left: 1px solid #214889;
    border-right: 1px solid #214889;
        
    box-shadow: 2px 2px #888888;
        */
    padding: 10px 5px 12px 10px;
    background-color: #f6f6f6;
    font-size: 12px;
    color: #000000;
    /*margin-bottom: 4px;
    border-collapse: unset!important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    */
}

table.tabForm td ul li {
    margin-bottom: 10px;
    list-style-type: none;
}

table.tabSearchForm {
    /*
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
        */
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    background-color: #f6f6f6;
    background-image: url(images/bgGrayForm.gif);
    background-repeat: repeat-x;
    background-position: top;
    font-size: 12px;
    color: #000000;
}

table.tabSearchForm td ul li {
    margin-bottom: 10px;
    list-style-type: none;
}

table.tabEditView {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

table.tabEditView td {
    border: inherit;
}

table.tabEditView th {
    margin-top: 0px;
    padding-left: 0px;
    padding-top: 0px;
    text-align: left;
}

td.dataLabel {
    padding: 5px 5px 5px 5px;
}

.dataLabel {
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}

.dataField {
    font-size: 12px;
    font-weight: normal;
}

/* tabEditViewButtons styles */
table.tabEditViewButtons {
    padding-bottom: 2px;
    background-color:#fff;
    padding: 0px;
    width: 100%;
}

/* DetailView styles */
table.tabDetailView {
    padding: 2px 5px 3px 5px;
    /*
    border-top: 1px solid #214889;
    border-bottom: 1px solid #214889;
    border-left: 1px solid #214889;
    border-right: 1px solid #214889;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
        */
    border-collapse: collapse;
    font-size: 12px;
    vertical-align: top;
    width: 100%;
}

.tabDetailViewDL {
    padding: 5px 6px 5px 6px;
    border-bottom: 1px solid #dddddd;
    background-color: #f6f6f6;
    font-size: 12px;
    vertical-align: top;
    text-align: right;
    color: #000000;
}

.tabDetailViewDF {
    padding: 5px 10px 5px 6px;
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
    font-size: 12px;
    color: #444444;
    vertical-align: top;
}

a.tabDetailViewDFLink:link, a.tabDetailViewDFLink:visited {
    color: #000000;
    text-decoration: underline;
}

a.tabDetailViewDFLink:hover {
    color: #000000;
}

table.tabDetailView2 {
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-collapse: collapse;
    background-color: #cccccc;
    width: 100%;
}

.tabDetailViewDL2 {
    padding: 3px 6px 4px 6px;
    background-color: #eeeeee;
    font-size: 13px;
    font-weight: normal;
    color: #000000;
    vertical-align: middle;
}

.tabDetailViewDF2 {
    padding: 4px 10px 4px 6px;
    background-color: #fafafa;
    font-size: 13px;
    font-weight: normal;
    color: #444444;
    vertical-align: middle;
}

a.tabDetailViewDL2Link:link, a.tabDetailViewDL2Link:visited {
    color: #444444;
    text-decoration: underline;
}

table.tabSearchView {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

/* LeftColumn (NewRecord) styles */
table.leftColumnModuleHead th {
    padding-top: 4px;
    padding-left: 6px;
    padding-bottom: 4px;
    border-top: 1px solid #999999;
    background-color: #ffffff;
    background-image: url(images/bgGray.gif);
    background-repeat: repeat-x;
    background-position: top;
    color: #444444;
    text-align: left;
}

.leftColumnModuleName {
    padding-top: 4px;
    padding-left: 3px;
    padding-bottom: 4px;
    text-transform: uppercase;
}

.leftColumnModuleS3 {
    padding: 8px 8px 5px 8px;
    border-bottom: 1px solid #cccccc;
    background-color: #fff;
    background-repeat: repeat-x;
    background-position: bottom;
    font-size: 11px;
    color: #444444;
}

.leftColumnModuleS3 input, .leftColumnModuleS3 select {
    margin-top: 2px;
    margin-bottom: 4px;
}

td.leftColumnModuleS3 .button {
    padding-top: 0px;
    font-size: 11px;
    vertical-align: bottom;
}

.leftColumnModuleS3 td {
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 11px;
    /*vertical-align: bottom;*/
}

/* SearchTab styles */
ul.tablist {
    margin: 0px 0px 0px 0px;
    padding-top: 3px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    /*border-bottom: 1px solid #999999;*/
    font-size: 12px;
}

ul.tablist li {
    margin: 0px 0px 0px 0px;
    list-style: none;
    display: inline;
}

ul.tablist li a {
    margin: 0px 0px 0px 0px;
    padding: 8px 8px 3px 8px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: none;
    background-color: #ffffff;
    background-image: none;
    background-repeat: repeat-x;
    background-position: top;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    color: #444444;
}

ul.tablist li a:link, ul.tablist li a:visited {
    color: #444444;
    text-decoration: none;
}

ul.tablist li a:hover {
    border-top: 1px solid #999999;
    background-color: #fafafa;
    background-image: none;
    background-repeat: repeat-x;
    background-position: bottom;
    color: #990033;
}

ul.tablist li a.current, ul.tablist li a.current:hover {
    border-bottom: 1px solid #dddddd;
    background-repeat: repeat-x;
    background-position: bottom;
    font-weight: bold;
}

ul.tablist li a.current {
    border-right-color: #999999;
    background-color: #E5E5E5;
}

ul.tablist li a.current:hover {
    background-image: none;
    color: #990033;
}

/* Footer styles */
.footer {
    margin-top: 6px;
    margin-bottom: 20px;
    padding: 6px 6px 6px 6px;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #cccccc;
    background-color: #f6f6f6;
    color: #999999;
    line-height: 22px;
    width: 98%;
}

a.footerLink:link, a.footerLink:visited {
    text-decoration: none;
}

a.footerLink:hover {
    color: #990033;
    text-decoration: underline;
}

.footerHR {
    color: #666666;
}

/* LastViewed styles */
.lastView {
    padding: 0px;
    color: white;
    font-size: 13px;
}

.lastViewLink, a.lastViewLink:link, a.lastViewLink:visited {
    color: white;
    font-size: 13px;
    text-decoration: none;
}

a.lastViewLink:hover {
}

.lastViewPanel {
    padding: 0px;
    width: 231px;
    min-width: 220px;
    background-color: #214889;
    vertical-align: top;
}

div.lastViewAction {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #214889;
    border-bottom: solid 1px #214889;
}

div.lastViewAction:hover {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #F58634;
    border-bottom: solid 1px #214889;
}

div.lastViewLinkRow:hover {
    background-color: #8398AA;
}

div.lastViewRecentViewed {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.lastViewRecentViewed:hover {
    background-color: #667684;
}

.lastView h1 {
    padding-top: 10px;
    padding-left: 20px;
    color: #F58634;
    font-size: 13px;
    text-transform: none;
}

/* Tab Menu */
table.tabFrame {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

table.tabToolbarFrame {
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;
    height: 45px;
    width: 100%;
}
/* 12/27/2017 Paul.  Dark menu #F58634. */
.tabRow {
    background-color: #F58634;
    height: 20px;
}

.currentTab {
    padding: 10px 15px 0px 15px;
    background-color: #214889;
    font-size: 15px;
    height: 37px;
    line-height: 10px;
}

a.currentTabLink:link, a.currentTabLink:visited, a.currentTabLink:hover {
    text-decoration: none;
    color: white;
}
/* 12/27/2017 Paul.  Dark menu #F58634. */
.otherQuickCreate {
    border: none;
    border-collapse: collapse;
    width: 100%;
    padding: 10px 5px 0px 5px;
    background-color: #F58634;
    color: #003564;
    font-size: 15px;
    height: 37px;
    line-height: 10px;
}

.otherQuickCreate:hover {
    /*background-color: #999999;*/
    background-color: #214889;
}
/* 12/27/2017 Paul.  Dark menu #F58634. */
.otherUser {
    border: none;
    border-collapse: collapse;
    width: 100%;
    padding: 10px 10px 0px 10px;
    background-color: #F58634;
    color: white;
    font-size: 15px;
    height: 37px;
    line-height: 10px;
}

.otherUser:hover {
    /*background-color: #999999;*/
    background-color: #214889;
}

.otherUserLeftBorder {
    border-left: 1px solid white;
}
/* 12/27/2017 Paul.  Dark menu #F58634. */
.otherHome {
    padding: 0px 5px 0px 5px;
    background-color: #F58634;
    color: #003564;
    width: 45px;
    height: 45px;
}

.otherHome:hover {
    /*background-color: #999999;*/
    background-color: #214889;
}
/* 12/27/2017 Paul.  Dark menu #F58634. */
.otherTab {
    padding: 10px 15px 0px 15px;
    background-color: #F58634;
    color: white;
    font-size: 15px;
    height: 37px;
    line-height: 10px;
}

.otherTab:hover {
    /*background-color: #999999;*/
    background-color: #214889;
}

a.otherTabLink:link, a.otherTabLink:visited {
    text-decoration: none;
    padding-top: 0px;
    color: white;
}

a.otherTabLink:hover {
    text-decoration: none;
}
/* 12/27/2017 Paul.  Dark menu #F58634. */
a.otherTabLink:link, a.otherTabLink:visited {
    color: white;
}

a.otherTabLink:hover {
    color: white;
}
/* 12/27/2017 Paul.  Dark menu #F58634. */
.otherTabMoreLink, .otherTabMoreLink:link, .otherTabMoreLink:active, .otherTabMoreLink:visited, .otherTabMoreLink:hover {
    padding: 1px 5px 1px 7px;
    color: #636363;
    text-decoration: none;
    line-height: 22px;
    display: block;
    font-size: 13px;
}
/* 12/27/2017 Paul.  Dark menu #F58634. */
.otherTabMoreLink:hover, .otherTabMoreLink:active {
    color: white;
    background-color: #F58634;
}

#subtabs {
    border-bottom: 1px solid #999999;
    background-image: url(images/bgGray.gif);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 21px;
}

.menu {
    border: 1px solid #999999;
    background-color: #f6f6f6;
    position: absolute;
    display: none;
    visibility: hidden;
    opacity: 0.9;
}

.menuItem, .menuItem:link, .menuItem:active, .menuItem:visited, .menuItem:hover {
    padding: 1px 5px 1px 7px;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #c0c0c0;
    background-color: #f6f6f6;
    color: #000000;
    text-decoration: none;
    line-height: 18px;
    width: 120px;
    display: block;
}

.menuItem:hover, .menuItem:active {
    color: #000000;
}

/* Header styles */
.myArea, .welcome {
    font-size: 13px;
}

a.myAreaLink:link, a.myAreaLink:visited, a.myAreaLink:hover {
    text-decoration: none;
    font-size: 13px;
}

.subTabBar {
}

.searchField {
    border: 1px solid #999999;
    background-color: white;
    font-size: 12px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20;
    width: 120px;
}

.searchButton, searchButton:focus {
    /*background-color: #fafafa;*/
    cursor: inherit;
}

a.utilsLink:link, a.utilsLink:visited {
    padding-bottom: 3px;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #999999;
}

a.utilsLink:hover {
    text-decoration: underline;
}

a.listViewPaginationLinkS1:link, a.listViewPaginationLinkS1:visited {
    padding: 2px 0px 3px 0px;
    font-size: 12px;
    font-weight: bold;
    color: #444444;
    text-decoration: none;
}

.listViewPaginationTdS1 {
    padding: 1px 5px 2px 5px;
    border: none;
    background-color: #eeeeee;
    font-size: 12px;
    vertical-align: top;
    color: #444444;
}

.listViewPaginationTdS1 td {
    background-color: #fafafa;
}

a.listViewPaginationLinkS1:hover {
    color: #990033;
    text-decoration: underline;
}

/* Popup Calendar */
table.Calendar {
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    background-color: #c8d0d4;
    font-size: 11px;
    color: #000000;
}

table.CalendarTitle td {
    padding: 1px 1px 1px 1px;
    border: 1px solid #000000;
    background: #788084;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

th.CalendarDayHeader {
    padding: 2px 2px 2px 2px;
    border-bottom: 1px solid #000000;
    background-color: #e8f0f4;
    text-align: center;
}

td.CalendarDay {
    padding: 2px 4px 2px 2px;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
    width: 2em;
}

td.CalendarWeekendDay {
    color: #ff0000;
}

td.CalendarOtherMonthDay {
    background-color: #e8f0f4;
}

td.CalendarToday {
    font-weight: bold;
    color: #0000ff;
}

/* Calendar View styles */
table.monthBox {
    font-size: 12px;
}

table.monthHeader {
    margin-top: 10px;
    border-top: 1px solid #999999;
    background-color: #ffffff;
    background-image: url(images/bgGray.gif);
    background-repeat: repeat-x;
    background-position: top;
    color: #444444;
    height: 25px;
}

td.monthHeaderPrevTd {
    padding-left: 5px;
}

td.monthHeaderNextTd {
    padding-right: 5px;
}

.monthHeaderH3 {
    margin-bottom: 3px;
    padding-top: 3px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

a.NextPrevLink:link, a.NextPrevLink:visited, a.NextPrevLink:hover {
    color: #990033;
    text-decoration: none;
}

td.monthCalBody {
    background-color: #dddddd;
}

td.dailyCalBodyTime {
    padding: 7px 7px 7px 7px;
    border-color: #dddddd;
    background-color: #f6f6f6;
    color: #000000;
    vertical-align: top;
    height: 20px;
}

td.dailyCalBodyItems {
    padding: 5px 5px 5px 5px;
    background-color: #ffffff;
    font-size: 12px;
    color: #444444;
    text-align: left;
}

a.weekCalBodyDayLink:link, a.weekCalBodyDayLink:visited {
    color: #000000;
}

table.monthFooter {
}

.monthFooterPrev, .monthFooterNext {
    padding: 3px 7px 3px 7px;
    background-color: transparent;
}

th.monthCalBodyTHDay {
    padding: 5px;
    border-top: 1px solid #cccccc;
    background-color: #eeeeee;
    color: #444444;
}

.monthCalBodyWeekDay {
    padding: 3px 3px 3px 3px;
    background-color: #ffffff;
    text-align: right;
}

.monthCalBodyWeekEnd {
    padding: 3px 3px 3px 3px;
    background-color: #f6f6f6;
    color: #444444;
    text-align: right;
}

.monthCalBodyTodayWeekDay, .monthCalBodyTodayWeekEnd {
    padding: 3px 3px 3px 3px;
    border: 1px solid #990033;
    background-color: #ffffff;
    color: #444444;
    text-align: right;
}

a.monthCalBodyWeekDayDateLink:link, a.monthCalBodyWeekDayDateLink:visited {
    font-size: 12px;
    font-weight: bold;
}

a.monthCalBodyDayItemLink:link, a.monthCalBodyDayItemLink:visited, a.monthCalBodyDayItemLink:hover {
    font-size: 10px;
}

.monthCalBodyDayItem {
    margin: 7px 0px 7px 0px;
    padding: 5px 0px 8px 0px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
}

.monthCalBodyDayItemTd {
    vertical-align: top;
}

.monthCalBodyDayIconTd {
    padding-right: 3px;
    vertical-align: top;
}

.dailyCalBodyItems {
    padding: 5px 5px 5px 5px;
    background-color: #ffffff;
    font-size: 12px;
    color: #444444;
    text-align: left;
}

.yearCalBodyMonth {
    padding-top: 5px;
}

a.yearCalBodyMonthLink:link, a.yearCalBodyMonthLink:visited {
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

a.yearCalBodyMonthLink:hover {
    text-decoration: underline;
}

.dateFormat {
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
}

/* Chart styles */
table.chartForm {
    padding: 5px 5px 5px 5px;
    border: 1px solid #999999;
    background-color: #efefef;
}

table.chartForm td {
    background-color: #efefef;
}

a.chartToolsLink:link, a.chartToolsLink:visited {
    font-size: 11px;
    font-weight: normal;
    color: #444444;
    text-decoration: none;
}

a.chartToolsLink:hover {
    color: #990033;
    text-decoration: none;
}

.chartFootnote {
    font-size: 11px;
}

.tm {
    font-size: 8px;
    font-family: Verdana;
}

h5.listViewSubHeadS1 {
    margin-bottom: 2px;
    padding-left: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #444;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.rssItemDate {
    font-size: 11px;
    color: #666666;
}

/* Scheduler styles */
.schedulerDiv {
    margin-top: 0px;
    border-bottom: 1px solid #999999;
    border-collapse: collapse;
    background-color: #fafafa;
    font-size: 12px;
    color: #000000;
    text-align: left;
    width: 100%;
}

.schedulerTable {
    border-collapse: collapse;
    width: 100%;
}

table.schedulerTable td {
    height: 18px;
}

.schedulerTopRow, .schedulerDeleteHeaderCell, .schedulerAttendeeHeaderCell, .schedulerAttendeeHeaderCell {
    border-bottom: 1px solid #dddddd;
    height: 22px;
}

.schedulerTimeCell, .schedulerAttendeeDeleteCell {
    padding-left: 4px;
    border-left: 1px solid #dddddd;
}

.schedulerAttendeeCell {
    padding-left: 4px;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    overflow: hidden;
    width: 125px;
}

.schedulerSlotCellStartTime {
    padding: 0px 0px 0px 0px;
    border-top: 1px solid #dddddd;
    border-left: 4px solid #75af4f;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    background-color: #eeeeee;
    width: 15px;
}

.schedulerSlotCellEndTime {
    padding: 0px 0px 0px 0px;
    border-top: 1px solid #dddddd;
    border-left: 4px solid #ff0000;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    background-color: #eeeeee;
    width: 15px;
}

.schedulerSlotCellHour {
    padding: 0px 0px 0px 0px;
    border: 1px solid #dddddd;
    background-color: #eeeeee;
    width: 15px;
}

.schedulerTopDateCell {
    margin-top: 10px;
    padding: 2px 5px 2px 5px;
    border-top: 1px solid #999999;
    background-color: #ffffff;
    background-image: url(images/bgGray.gif);
    background-repeat: repeat-x;
    background-position: top;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.contentBox {
    margin: 10px 0px 10px 0px;
    padding: 0px 10px 0px 0px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.ToolbarShadingTable {
    width: 80%;
    border: 1px solid #9c9c9c;
}

.ToolbarInnerTable {
    width: 100%;
    border: 1px solid #9c9c9c;
    background-color: White;
    padding: 8px 8px 8px 8px;
}

.ToolbarInnerTableCell {
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 25px;
}

/* 12/26/2017 Paul.  Update login screen. */
.LoginActionsShadingTable {
    width: 400px;
    border: none;
}

.LoginActionsShadingHorizontal {
    height: 0px;
    background-color: inherit;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.LoginActionsShadingVertical {
    width: 0px;
    background-color: inherit;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.LoginActionsInnerTable {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;
    background-color: inherit;
}

.loginForm {
    /*background-color: #f5f5f5;*/
    background-image: url(images/intro/login_intro_bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 550px;
    height: 100%;
}

.loginForm_inputArea {
    width: 45%;
    background: url("images/intro/bg-form.png");
    margin: 0 auto;
    padding: 20px 20px 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 10px;
    background-size: 100% 100%;
    border-radius: 8px;
}

.loginField input[type=text], .loginField input[type=password] {
    width: 90%;
}

.LoginActionsInnerTable input[type=text], .LoginActionsInnerTable input[type=password] {
    margin: 10px;
    padding: 0 20px 0 20px;
    border: none;
    line-height: 50px;
    height: 50px;
    color: #999999;
    border-radius: 3px;
    font-size: 16px;
}

.LoginActionsInnerTable a {
    color: #f08377;
    text-decoration: none;
    font-size: 13px;
}

.LoginActionsInnerTable .utilsLink span {
    color: #F58634;
    text-decoration: none;
    font-size: 13px;
}

.LoginActionsInnerTable .dataLabel {
    display: none;
}

.loginInstructions {
    display: none;
}

.ModuleActionsShadingTable {
    width: 400px;
    border: 1px solid #9c9c9c;
}

.ModuleActionsShadingHorizontal {
    height: 16px;
    background-color: #b6b6b6;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ModuleActionsShadingVertical {
    width: 16px;
    background-color: #b6b6b6;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ModuleActionsInnerTable {
    width: 600px;
    border-left: 1px solid #9c9c9c;
    border-right: 1px solid #9c9c9c;
    border-bottom: 1px solid #9c9c9c;
    background-color: White;
    -moz-box-shadow: 0 5px 5px #888;
    -webkit-box-shadow: 0 5px 5px #888;
    box-shadow: 0 5px 5px #888;
}

.ModuleActionsInnerCell {
    width: 33%;
    vertical-align: top;
    padding: 8px 8px 8px 8px;
    border-left: solid 1px #cecece;
}

.ModuleActionsInnerHeader {
    font-size: 10pt;
    color: #9c9c9c;
    display: block;
}

/* 12/27/2017 Paul.  Dark menu #F58634. */
.ModuleActionsMenuItems, .ModuleActionsMenuItems:link, .ModuleActionsMenuItems:active, .ModuleActionsMenuItems:visited, .ModuleActionsMenuItems:hover {
    padding: 1px 5px 1px 7px;
    color: #636363;
    text-decoration: none;
    line-height: 22px;
    display: block;
    font-size: 13px;
}

.ModuleActionsMenuItems:hover, .ModuleActionsMenuItems:active {
    color: white;
    background-color: #F58634;
}

.MoreActionsShadingTable {
    width: 200px;
    border: 1px solid #9c9c9c;
}

.MoreActionsInnerTable {
    width: 200px;
    border-left: 1px solid #9c9c9c;
    border-right: 1px solid #9c9c9c;
    border-bottom: 1px solid #9c9c9c;
    background-color: White;
    -moz-box-shadow: 0 5px 5px #888;
    -webkit-box-shadow: 0 5px 5px #888;
    box-shadow: 0 5px 5px #888;
}

.MoreActionsInnerCell {
    vertical-align: top;
    padding: 8px 8px 8px 8px;
    border-left: solid 1px #cecece;
}

.otherTabMoreArrow {
    vertical-align: middle;
}

/* 11/26/2010 Paul.  Add styles for the Check All hover. */
.ActionMenu {
    border: 1px solid #999999;
    background-color: #f6f6f6;
}

.ActionMenuItem {
    padding: 1px 5px 1px 7px;
    color: #000000;
    line-height: 18px;
    width: 120px;
    text-align: left;
    border-bottom: 1px solid #999999;
}

.ActionMenuItem:hover {
    background-color: #fdfdfd;
}

a.ActionMenuLink:link, a.ActionMenuLink:active, a.ActionMenuLink:visited, a.ActionMenuLink:hover {
    color: #000000;
    font-weight: normal;
    text-decoration: none;
}

/* http://www.bennadel.com/blog/1734-Using-CSS-Fixed-Position-Elements-Across-Browsers.htm */
/* 05/04/2010 Paul.  Must change the DOCTYPE to <!DOCTYPE HTML> */
/* 10/18/2014 Paul.  Add z-index so that toolbar stays on top of report. */
/* 12/27/2017 Paul.  Dark menu #F58634. */
.SixToolbar {
    width: 100%;
    height: 45px;
    background-color: #F58634;
    color: #003564;
    position: fixed;
    /*left: 233px;*/
    top: 0px;
    _position: absolute;
    _top: expression( ie6 = (document.documentElement.scrollTop + "px") );
    z-index: 100;
}

.SixToolbarLogin {
    width: 100%;
    height: 45px;
    background-color: #F58634;
    color: #003564;
    left: 0px;
    top: 0px;
}

.SixToolbarUser {
    height: 45px;
    background-color: #F58634;
    color: #003564;
    position: fixed;
    right: 0px;
    top: 0px;
    _position: absolute;
    _top: expression( ie6 = (document.documentElement.scrollTop + "px") );
    z-index: 100;
}
/* 11/06/2013 Paul.  Add support for RTL languages. */
.SixToolbarUserRTL {
    height: 45px;
    background-color: #F58634;
    color: #003564;
    position: fixed;
    left: 0px;
    top: 0px;
    _position: absolute;
    _top: expression( ie6 = (document.documentElement.scrollTop + "px") );
    z-index: 100;
}

/* 05/23/2010 Paul.  New styles for the EmailClient.  */
/* 05/23/2010 Paul.  The TreeView has a bug that forces 1em, so we need to use 1em to prevent the size from switching. */
a.nodeEmailFolderLink {
    text-decoration: none;
    font-size: 1em;
}

a.leafEmailFolderLink, a.leafEmailFolderLink:visited, a.leafEmailFolderLink:hover {
}

a.parentEmailFolderLink, a.parentEmailFolderLink:visited, a.parentEmailFolderLink:hover {
}

a.selectedEmailFolderLink, a.selectedEmailFolderLink:visited, a.selectedEmailFolderLink:hover {
    background-color: #CCCCCC;
}

a.nodeStudioFolderLink {
    text-decoration: none;
    font-size: 1em;
}

a.leafStudioFolderLink, a.leafStudioFolderLink:visited, a.leafStudioFolderLink:hover {
}

a.parentStudioFolderLink, a.parentStudioFolderLink:visited, a.parentStudioFolderLink:hover {
}

a.selectedStudioFolderLink, a.selectedStudioFolderLink:visited, a.selectedStudioFolderLink:hover {
    background-color: #CCCCCC;
}

.EmailDetailViewDL {
    padding: 2px 4px 2px 4px;
    background-color: #f6f6f6;
    font-size: 11px;
    vertical-align: top;
    text-align: right;
    font-weight: bold;
    color: #9C9A9C;
}

.EmailDetailViewDF {
    padding: 2px 4px 2px 4px;
    background-color: #f6f6f6;
    font-size: 11px;
    vertical-align: top;
    text-align: left;
    color: #000000;
}

.jQueryDragHandle {
    background-image: url(images/draghandle_list.gif);
    background-repeat: no-repeat;
    background-position: top;
}

tr.jQueryDragBorder td {
    background-color: #d6d6d6;
}

.pointer {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 16px;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
}
/* 01/07/2013 Paul.  Need to prevent a nowrap style from getting inherited. */
.ListViewInfoHover {
    width: 300px;
    border: 1px solid #9c9c9c;
    background-color: White;
    white-space: normal;
}

.PanelHoverHidden {
    display: none;
    visibility: hidden;
}
/* 08/28/2010 Paul.  Moved from Jigsaw control. */
.buttonLogin {
    background-image: none;
    background-repeat: inherit;
    background-position: inherit;
    background-color: #F58634;
    border: none;
    border-radius: 3px;
    padding: 0 20px 0 20px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    height: 30px;
    width: 200px;
    line-height: 30px;
}

.buttonLogin:hover, .buttonLogin:focus {
    background-color: #214889;
    color: white;
    font-weight: 500;
}

/* 09/20/2010 Paul.  Restore ACL styles. */
.aclAll {
    color: Green;
    font-weight: bold;
}

.aclOwner {
    color: Black;
    font-weight: bold;
}

.aclNone {
    color: Red;
    font-weight: bold;
}

.aclEnabled {
    color: Green;
    font-weight: bold;
}

.aclDisabled {
    color: Red;
    font-weight: bold;
}

.aclNormal {
    color: Green;
    font-weight: bold;
}

.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalPopup {
    background-color: White;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
    width: 400px;
}

.PasswordHelp {
    background-image: url(images/help.gif);
    height: 16px;
    width: 16px;
}

.overdueTask {
    color: Red;
}

.futureTask {
    color: Green;
}

.QueryDesigner {
    background-color: #f4f4f4;
    vertical-align: top;
    color: black;
}

.QueryDesigner_Selected {
    background-color: #0A246A;
    vertical-align: top;
    color: white;
}
/* 06/06/2015 Paul.  Removed the two <br/> tags and switch to style. */
.CheckAllPaddingBottom {
    height: 14px;
}
/* 02/15/2016 Paul.  Grab is used on the new layout editor. */
.grab {
    cursor: hand;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
/* 05/14/2016 Paul.  Add Tags module. */
.Tags {
    color: white;
    background-color: #565656;
    -webkit-border-radius: 4 4 4 4;
    -moz-border-radius: 4 4 4 4;
    border-radius: 4px 4px 4px 4px;
    padding: 2px 5px 2px 5px;
    margin-top: 1px;
    margin-bottom: 2px;
    display: inline-block;
}
/* 08/02/2016 Paul.  Add buttons used with Business Processes. */
.ProcessApprove {
    background-color: #308000;
    background-image: none;
    color: white;
}

.ProcessReject {
    background-color: #E90000;
    background-image: none;
    color: white;
}

.ProcessRoute {
    background-color: #0760E0;
    background-image: none;
    color: white;
}

.ProcessClaim {
    background-color: #308000;
    background-image: none;
    color: white;
}

.ProcessStatus {
    font-size: 14px;
}

.ProcessOverdue {
    color: red;
}

.ProcessAddNotes {
    background-color: #0F5BF5;
    background-image: none;
    -webkit-border-radius: 4 4 4 4;
    -moz-border-radius: 4 4 4 4;
    border-radius: 4px 4px 4px 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 4px 10px 4px 10px;
    text-decoration: none;
    height: 26px;
    margin-top: 0px;
    margin-right: 0px;
}

.ProcessAddNotes:hover {
    background: #2F7BFf;
    color: #ffffff;
    text-decoration: none;
}

/* Arctic */
body {
    background-color: #F4F4F4;
    font-family: Arial, sans-serif;
}

a {
    color: #e56455;
}

h2 {
    color: #456555;
    font-size: 14px;
    /*text-transform: uppercase;
    letter-spacing: 2px;*/
    font-weight: 300;
}

h2 a:link, h2 a:visited, h2 a:hover {
    color: #456555;
}

.tabForm {
    /*
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
    */
    background-color: white;
}

table.tabSearchForm {
    /*border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
    
    border: 1px solid #214889;
    border-top: 0!important;
    box-shadow: 2px 2px #888888;
        */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: none;
    background-repeat: inherit;
    background-position: inherit;
    background-color: #ffffff;
}

table.tabMassUpdate {
    /*background-color: #e5e5e5;*/
}

table.tabDetailView {
    /*border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;*/
    background-color: white;
    border-spacing: 4px 8px;
    border-collapse: separate;
}

.tabDetailView td {
    padding: 5px;
}

.tabDetailView, .tabDetailViewDL {
    background-color: white;
    border-bottom: none;
    color: #534c63;
    /*font-size: 14px;
	font-weight: 700;*/
    line-height: 18px;
}

.tabDetailViewDL {
    font-weight: 700;
}

.tabDetailViewDF {
    /*border: 1px solid #999999;
	background-color: #f4f4f4;
	border-radius: 4px;*/
    border-bottom: none;
    color: #534c63;
    font-size: 12px;
    /*font-weight: 700;*/
    line-height: 18px;
}

td.dataLabel {
    margin: 4px 0 4px 0;
    color: #534c64;
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
}

.dataField input[type=text], .dataField input[type=file], .dataField input[type=password], .dataField select {
    /*background-color: #d7f5ed;
	border: 1px solid #a4e8d5;*/
    border-radius: 4px;
    line-height: 18px;
    margin: 8px 0px 8px 0px;
    padding: 4px;
}
/* 12/24/2017 Paul.  Set width to 75% instead of default width. */
.dataField input[type=text], .dataField input[type=file], .dataField input[type=password] {
    height: 18px;
    width: 75%;
}
/* 12/24/2017 Paul.  We need to make space for select and clear button. */
.modulePopupText {
    width: 50%;
}

.dataField textarea {
    /*background-color: #d7f5ed;
	border: 1px solid #a4e8d5;*/
    border-radius: 4px;
    margin: 8px 0px 8px 0px;
    padding: 4px;
}
/* 12/24/2017 Paul.  Fix spacing around checkboxes. */
.dataField input[type=checkbox], .dataField input[type=radio], .tabSavedSearch input[type=radio] {
    margin: 8px 4px 8px 4px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

table.setListView td input[type=image] {
    vertical-align: middle;
}

.dataField select {
    margin: 8px 8px 8px 0px;
    width: 75%;
}

.tabMassUpdate .tabSearchView .dataField input[type=text], .tabSearchView .dataField select {
    width: 75%;
    background-color: white;
    padding: 4px;
}

.dataField input[type=text]{
    background-color: white;
    width: 80%;
    padding: 10px 4px 12px 8px;
    margin: 8px 8px 8px 0px;
}

.tabSavedSearch td {
    font-size: 14px;
}

.tabSavedSearch input[type=radio], .tabSavedSearch .radio label {
    line-height: 20px;
    margin: 2px;
    padding: 2px;
}

.tabSavedSearch input[type=text], .tabSavedSearch select {
    /*border: 1px solid #a4e8d5;*/
    border-radius: 4px;
    line-height: 20px;
    margin: 0px 0px 0px 0px;
    background-color: white;
    padding: 4px;
}

.tabSearchView td.dataLabel {
    font-weight: 400;
}

.setAddReplace input[type=radio], .setAddReplace .radio label {
    font-size: 14px;
    margin: 10px 0px 6px 0px;
    padding: 0px 10px 0px 6px;
}

.button {
    background-image: none;
    background-repeat: inherit;
    background-position: inherit;
    background-color: #F58634;
    border: none;
    border-radius: 3px;
    padding: 0 20px 0 20px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 2px;
    height: 25px;
    line-height: 25px;
}

.button:hover, .button:focus {
    background-color: #808F9C;
    color: white;
}

table.listView {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: #fff;
}

table.listView td {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-left: 5px;
}

tr.listViewThS1 {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.listViewThS1 td {
    height: 20px;
    padding: 5px 0px 5px 3px;
    background-color: #768490;
    border-top: none;
    border-bottom: none;
}

tr.listViewPaginationTdS1 {
    border-top: none;
    border-bottom: none;
}

.listViewPaginationTdS1 td {
    height: 20px;
    padding: 5px 5px 5px 0px;
    background-color: white;
    border-top: none;
    border-bottom: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

table.listView td a:link, table.listView td a:visited, a.listViewThLinkS1:link, a.listViewThLinkS1:visited {
    color: white;
    font-size: 13px;
    font-weight: 700;
}

.pageNumbers {
    color: #444444;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    top: 5px;
}

tr.listViewPaginationTdS1 a:link, tr.listViewPaginationTdS1 a:visited {
    text-decoration: none;
}

/* 09/24/2016 Paul.  The following style is used to create the < > pagination buttons, but an image is used. */
/*
.buttonPagination
{
	background-image: none;
	background-repeat: inherit;
	background-position: inherit;
	background-color: #92A4B3;
	border: none;
	border-radius: 3px;
	padding: 0 0px 0 0px;
	color: white;
	cursor: pointer;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	height: 24px;
	line-height: 24px;
}

.buttonPaginationOff
{
	background-image: none;
	background-repeat: inherit;
	background-position: inherit;
	background-color: #ACBAC6;
	border: none;
	border-radius: 3px;
	padding: 0 0px 0 0px;
	color: white;
	cursor: pointer;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	height: 24px;
	line-height: 24px;
}
*/
.buttonSetManagement {
    background-image: none;
    background-repeat: inherit;
    background-position: inherit;
    background-color: #F08276;
    border: none;
    border-radius: 3px;
    padding: 0;
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    height: 24px;
    line-height: 24px;
}

.paginationButtonNext {
    width: 24px;
    height: 24px;
    border-collapse: collapse;
    padding-left: 4px;
}

.paginationButtonPrevious {
    width: 24px;
    height: 24px;
    border-collapse: collapse;
    padding-right: 4px;
}

tr.oddListRowS1 {
    height: 40px;
    color: black;
    font-size: 13px;
    background-color: white;
    border-bottom: none;
    padding-top: 6px;
    padding-bottom: 6px;
}

tr.evenListRowS1 {
    height: 40px;
    color: black;
    font-size: 13px;
    border-bottom: none;
    padding-top: 6px;
    padding-bottom: 6px;
}

tr.oddListRowS1:hover, tr.evenListRowS1:hover {
    background: #F9F6Ce;
}

tr.evenListRowS1:hover {
    background: #F9F6Ce;
}

table.listView td a:link, table.listView td a:visited {
    color: #444444;
    font-weight: normal;
    font-size: 14px;
}

tr.listViewThS1 td a:link, tr.listViewThS1 td a:visited {
    color: white;
    font-weight: bold;
    padding-left: 6px;
}

table.listView th, tr.listViewThS1 {
    border: none;
    background-color: inherit;
}

table.setListView tr.oddListRowS1, tr.evenListRowS1, table.setListView tr.oddListRowS1:hover, tr.evenListRowS1:hover {
    background-color: inherit;
    border: none;
}

table.h3Row {
    height: 30px;
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 2px 5px 2px 5px;
    border-top: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    /*background-color: #214889;
        */
    color: white;
    vertical-align: middle;
}

table.h3RowDisabled {
    background-color: #BFCCD5;
}

table.h3Row h3 {
    color: #000;
    font-size: 14px;
    font-weight: normal;
}

/* 06/15/2017 Paul.  Move Process styles from MyProcesses.ascx user control to stylesheet. */
.MyProcessFrame {
    text-align: left;
    background-color: white;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    padding: 4px;
}

.MyProcessFrame a:link {
    font-weight: bold;
    text-decoration: none;
}

.MyProcessActiveTab {
    font-weight: bold;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0px;
}

.MyProcessInactiveTab {
    font-weight: normal;
    background-color: #F6F6F6;
    text-align: center;
    cursor: pointer;
    border: 1px solid #E1E1E1;
    margin: 0px;
}

.MyProcessCount {
    font-size: 14px;
}

.MyProcessCountLabel {
    font-size: 11px;
}

.MyProcessName {
    font-size: 14px;
    color: #667DE9;
}

.MyProcessOverdue {
    font-size: 11px;
}

.MyProcessActivityName {
    font-size: 11px;
    font-weight: bold;
    color: black;
}

.MyProcessAssignedUser {
    font-size: 11px;
    color: #667DE9;
}

.MyProcessBusinessProcessName {
    font-size: 11px;
    font-weight: bold;
    color: black;
}

.MyProcessCell {
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}

/* 01/06/2018 Paul.  Add DATA_FORMAT to ListBox support multi-select CSV.  */
.multiple-select {
    width: 35%;
}

.multiple-select > .ms-choice > span {
    background-color: #d7f5ed;
    border: 1px solid #a4e8d5;
    border-radius: 4px;
}

.multiple-select > button.ms-choice {
    background-color: #d7f5ed;
    border: 1px solid #a4e8d5;
    border-radius: 4px;
}

.gridHeaderLabel-Gray {
    height: 20px;
    padding: 5px 3px 5px 5px;
    background-color: gray;
    border-top: none;
    border-bottom: none;
    color: white;
    font-weight: bold;
}

.addNewRowIntoGrid {
    background-image: none;
    background-repeat: inherit;
    background-position: inherit;
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
    padding: 0 20px 0 20px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    height: 25px;
    line-height: 25px;
}

.teamTreeViewPanel {
    padding: 0px;
    width: 220px;
    min-width: 220px;
    /*background-color: #214889;*/
    vertical-align: top;
}
