﻿/* Copyright (C) 2014 SplendidCRM Software, Inc. All Rights Reserved. 
 * Any use of the contents of this file are subject to the SplendidCRM Professional Source Code License Agreement, or other written agreement between you and SplendidCRM ("License"). 
 * SplendidCRM owns all proprietary rights, including all copyrights, patents, trade secrets, and trademarks, in and to the contents of this file.  You will not link to or in any way 
 * combine the contents of this file or any derivatives with any Open Source Code in any manner that would require the contents of this file to be made available to any third party. 
 */

.navTopSpacer
{
	position: fixed;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: 100;
	/* background-color: white;*/
}

.navTop
{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 100;
}

.navCenter
{
	width: 70%;
	text-align: center;
	white-space: nowrap;
	font-size: large;
	border-bottom: solid 1px black;
	background-color: #FFD14E;
}

.navChatChannel, .navChatChannel:hover
{
	font-size: medium;
	text-decoration: none;
}

.navLeft
{
	padding: 0px;
	width: 15%;
	text-align: left;
	white-space: nowrap;
	text-decoration: none;
	border-bottom: solid 1px black;
	background-color: #FFD14E;
}

.navLeft a
{
	text-decoration: none;
}

.navButton
{
	padding-left: 4px;
	padding-right: 4px;
}

.navRight
{
	padding: 3px;
	width: 15%;
	text-align: right;
	white-space: nowrap;
	border-bottom: solid 1px black;
	background-color: #FFD14E;
}

.iw-cm-menu li
{
	background-color: #FFD14E;
	height: 16px;
	font-size: 14px;
}

.iw-mIcon
{
	height: 16px;
	top: 2px;
	left: 2px;
}

.iw-contextMenu li.iw-mDisable
{
	background-color: #FFD14E;
	color: black;
	font-weight: bold;
	opacity:.9;
}
.iw-mOverlay
{
	opacity:.1;
}

li.iw-mSelected
{
	background-color: #036;
	color           : #F2F2F2;
}

