<%@ Control Language="c#" AutoEventWireup="false" Codebehind="SearchBasic.ascx.cs" Inherits="SplendidCRM.Administration.DynamicLayout._controls.SearchBasic" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<script runat="server">
/**
 * Copyright (C) 2005-2010 SplendidCRM Software, Inc. All Rights Reserved. 
 *
 * Any use of the contents of this file are subject to the SplendidCRM Professional Source Code License 
 * Agreement, or other written agreement between you and SplendidCRM ("License"). By installing or 
 * using this file, you have unconditionally agreed to the terms and conditions of the License, 
 * including but not limited to restrictions on the number of users therein, and you may not use this 
 * file except in compliance with the License. 
 * 
 * SplendidCRM owns all proprietary rights, including all copyrights, patents, trade secrets, and 
 * trademarks, in and to the contents of this file.  You will not link to or in any way combine the 
 * contents of this file or any derivatives with any Open Source Code in any manner that would require 
 * the contents of this file to be made available to any third party. 
 * 
 * IN NO EVENT SHALL SPLENDIDCRM BE RESPONSIBLE FOR ANY DAMAGES OF ANY KIND, INCLUDING ANY DIRECT, 
 * SPECIAL, PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES.  Other limitations of liability 
 * and disclaimers set forth in the License. 
 * 
 */
</script>
<div id="divSearch">
	<asp:Table SkinID="tabSearchForm" Visible="false" runat="server">
		<asp:TableRow>
			<asp:TableCell>
				<asp:Table SkinID="tabSearchView" runat="server">
					<asp:TableRow>
						<asp:TableCell CssClass="dataLabel" Wrap="false"><%= L10n.Term("DynamicLayout.LBL_LAYOUT_VIEW") %>&nbsp;&nbsp;<asp:DropDownList ID="lstLAYOUT_VIEWS" DataValueField="NAME" DataTextField="DISPLAY_NAME" AutoPostBack="True" Runat="server" /></asp:TableCell>
						<asp:TableCell HorizontalAlign="Right">
							<asp:Button ID="btnSearch" CommandName="Search" OnCommand="Page_Command" CssClass="button" Text='<%# L10n.Term(".LBL_SEARCH_BUTTON_LABEL") %>' ToolTip='<%# L10n.Term(".LBL_SEARCH_BUTTON_TITLE") %>' AccessKey='<%# L10n.AccessKey(".LBL_SEARCH_BUTTON_KEY") %>' Runat="server" />
						</asp:TableCell>
					</asp:TableRow>
				</asp:Table>
			</asp:TableCell>
		</asp:TableRow>
	</asp:Table>
	
	<%@ Register TagPrefix="SplendidCRM" Tagname="ListHeader" Src="~/_controls/ListHeader.ascx" %>
	<SplendidCRM:ListHeader ID="ctlListHeader" Title="DynamicLayout.LBL_LAYOUT_VIEW" Runat="Server" />
	<div id="divDynamicLayoutSearchBasic" style="height: 600px; overflow-y: auto;">
	<asp:XmlDataSource ID="xdsViews" EnableCaching="true" runat="server" />
	<asp:TreeView ID="treeMain" ExpandDepth="1" ImageSet="XPFileExplorer" PopulateNodesFromClient="true" EnableClientScript="true" runat="server">
		<LeafNodeStyle     CssClass="leafStudioFolderLink"     />
		<ParentNodeStyle   CssClass="parentStudioFolderLink"   />
		<SelectedNodeStyle CssClass="selectedStudioFolderLink" />
		<NodeStyle         CssClass="nodeStudioFolderLink"     />
		<DataBindings>
			<asp:TreeNodeBinding DataMember="Modules" TextField="Name" Depth="0" SelectAction="None" />
			<asp:TreeNodeBinding DataMember="Module"  TextField="Name" Depth="1" SelectAction="SelectExpand" />
			<asp:TreeNodeBinding DataMember="View"    TextField="DisplayName" ValueField="Name"  />
		</DataBindings>
	</asp:TreeView>
	</div>
	<asp:Image SkinID="blank" Width="200" Height="1" runat="server" />
</div>

