<%@ Control Language="c#" AutoEventWireup="false" CodeBehind="MassUpdate.ascx.cs" Inherits="SplendidCRM.KPIB0203.MassUpdate" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<%@ Register TagPrefix="SplendidCRM" TagName="MassUpdateButtons" Src="~/_controls/MassUpdateButtons.ascx" %>
<SplendidCRM:MassUpdateButtons ID="ctlDynamicButtons" SubPanel="divKPIB0203MassUpdate" Title=".LBL_MASS_UPDATE_TITLE" runat="Server" />

<div id="divKPIB0203MassUpdate" style='<%= "display:" + (CookieValue("divKPIB0203MassUpdate") != "1" ? "inline": "none") %>'>
    <asp:Table Width="100%" CellPadding="0" CellSpacing="0" CssClass="tabForm" runat="server">
        <asp:TableRow>
            <asp:TableCell>
                <%@ Register TagPrefix="SplendidCRM" Tagname="TagMassApprove" Src="~/_controls/TagMassApprove.ascx" %>
                <SplendidCRM:TagMassApprove ID="ctlTagMassApprove" runat="Server" />
            </asp:TableCell>
        </asp:TableRow>
    </asp:Table>
    <%--<asp:Table Width="100%" CellPadding="0" CellSpacing="0" CssClass="tabForm" runat="server">
		<asp:TableRow>
			<asp:TableCell>
				<%@ Register TagPrefix="SplendidCRM" Tagname="TeamAssignedMassUpdate" Src="~/_controls/TeamAssignedMassUpdate.ascx" %>
				<SplendidCRM:TeamAssignedMassUpdate ID="ctlTeamAssignedMassUpdate" Runat="Server" />
				<asp:Table Width="100%" CellPadding="0" CellSpacing="0" runat="server">
					<asp:TableRow>
						<asp:TableCell Width="15%" CssClass="dataLabel"><asp:Label Text='<%# L10n.Term(".LBL_TAG_SET_NAME") %>' runat="server" /></asp:TableCell>
						<asp:TableCell Width="35%" CssClass="dataField">
							<%@ Register TagPrefix="SplendidCRM" Tagname="TagMassUpdate" Src="~/_controls/TagMassUpdate.ascx" %>
							<SplendidCRM:TagMassUpdate ID="ctlTagMassUpdate" Runat="Server" />
						</asp:TableCell>
						<asp:TableCell Width="15%" CssClass="dataLabel"></asp:TableCell>
						<asp:TableCell Width="35%" CssClass="dataField"></asp:TableCell>
					</asp:TableRow>
				</asp:Table>
			</asp:TableCell>
		</asp:TableRow>
	</asp:Table>--%>
</div>
