<%@ Master Language="C#" AutoEventWireup="false" CodeBehind="DefaultView.master.cs" Inherits="SplendidCRM.Themes.Seven.DefaultView" %>
<%@ Import Namespace="SplendidCRM" %>
<script runat="server">
/**
 * Copyright (C) 2014-2017 SplendidCRM Software, Inc. All Rights Reserved. 
 *
 * Any use of the contents of this file are subject to the SplendidCRM Professional Source Code License 
 * Agreement, or other written agreement between you and SplendidCRM ("License"). By installing or 
 * using this file, you have unconditionally agreed to the terms and conditions of the License, 
 * including but not limited to restrictions on the number of users therein, and you may not use this 
 * file except in compliance with the License. 
 * 
 * SplendidCRM owns all proprietary rights, including all copyrights, patents, trade secrets, and 
 * trademarks, in and to the contents of this file.  You will not link to or in any way combine the 
 * contents of this file or any derivatives with any Open Source Code in any manner that would require 
 * the contents of this file to be made available to any third party. 
 * 
 * IN NO EVENT SHALL SPLENDIDCRM BE RESPONSIBLE FOR ANY DAMAGES OF ANY KIND, INCLUDING ANY DIRECT, 
 * SPECIAL, PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES.  Other limitations of liability 
 * and disclaimers set forth in the License. 
 * 
 */
/* 05/05/2010 Paul.  Can't use 4.01 as it will prevent the toolbar from maintaining the fixed position. 
 * PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
*/
</script>
<!DOCTYPE HTML>
<html id="htmlRoot" runat="server">
<head runat="server">
	<%@ Register TagPrefix="SplendidCRM" Tagname="MetaHeader" Src="~/_controls/MetaHeader.ascx" %>
	<SplendidCRM:MetaHeader ID="ctlMetaHeader" Runat="Server" />
	<link type="text/css" rel="stylesheet" href="~/Include/javascript/jquery-ui-1.9.1.custom.css" runat="server" />
	<script type="text/javascript" src="<%# Application["scriptURL"] %>ModulePopupScripts.aspx?LastModified=<%# Server.UrlEncode(Sql.ToString(Application["Modules.LastModified"])) + "&UserID=" + Security.USER_ID.ToString() %>"></script>
	<%# Application["CONFIG.external_scripts"] %>
</head>
<body style="background-color: white;">
<form id="frmMain" method="post" runat="server">
<ajaxToolkit:ToolkitScriptManager ID="mgrAjax" CombineScripts="true" EnableScriptGlobalization="true" EnableScriptLocalization="false" ScriptMode="Release" runat="server" />

<div id="divHeader" Visible='<%# !PrintView %>' runat="server">
	<%@ Register TagPrefix="SplendidCRM" Tagname="SixToolbar" Src="SixToolbar.ascx" %>
	<SplendidCRM:SixToolbar ID="ctlSixToolbar" Visible='<%# !PrintView && Security.IsAuthenticated() %>' runat="Server" />
	<%@ Register TagPrefix="SplendidCRM" Tagname="Reminders" Src="../Six/Reminders.ascx" %>
	<SplendidCRM:Reminders ID="ctlReminders" Visible='<%# !PrintView && Security.IsAuthenticated() && Sql.ToBoolean(Application["CONFIG.enable_reminder_popdowns"]) %>' Runat="Server" />

	<table cellspacing="0" cellpadding="0" border="0" class="SixToolbarLogin" Visible='<%# !Security.IsAuthenticated() %>' runat="server">
		<tr>
			<td nowrap>
				<table ID="tblLoginHeader" class="tabToolbarFrame" cellspacing="0" cellpadding="0" border="0" runat="server">
					<tr>
						<td>
							<asp:Image ID="imgCompanyLogo" ImageUrl='<%# Sql.IsEmptyString(Application["CONFIG.header_home_image"]) ? "~/Include/images/SplendidCRM_Icon.gif" : Sql.ToString(Application["CONFIG.header_home_image"]) %>' runat="server" />
						</td>
					</tr>
				</table>
			</td>
			<td width="100%" class="tabRow"><asp:Image SkinID="blank" Width="1" Height="1" runat="server" /></td>
		</tr>
	</table>
</div>
<script type="text/javascript">
function showLeftCol(bShow, bSetCookie)
{
}
// 02/23/2017 Paul.  Add support for Team Hierarchy. 
function showTeamTree(bShow, bSetCookie)
{
	var fldTeamSidebar    = document.getElementById('<%= tdTeamTree.ClientID %>');
	var fldTeamShowHandle = document.getElementById('<%= imgTeamShowHandle.ClientID %>');
	var fldTeamHideHandle = document.getElementById('<%= imgTeamHideHandle.ClientID %>');
	if ( bShow )
	{
		if ( fldTeamSidebar    != null ) fldTeamSidebar.style.display    = 'table-cell';
		if ( fldTeamShowHandle != null ) fldTeamShowHandle.style.display = 'none'  ;
		if ( fldTeamHideHandle != null ) fldTeamHideHandle.style.display = 'inline';
		if ( bSetCookie )
			document.cookie = 'showTeamTree=true;path=<%= Request.ApplicationPath %>';
	}
	else
	{
		if ( fldTeamSidebar    != null ) fldTeamSidebar.style.display    = 'none'  ;
		if ( fldTeamShowHandle != null ) fldTeamShowHandle.style.display = 'inline';
		if ( fldTeamHideHandle != null ) fldTeamHideHandle.style.display = 'none'  ;
		if ( bSetCookie )
			document.cookie = 'showTeamTree=false;path=<%= Request.ApplicationPath %>';
	}
}
</script>

<asp:Table SkinID="tabFrame" runat="server">
	<asp:TableRow>
		<asp:TableCell ID="tdTeamTree" CssClass="lastViewPanel" VerticalAlign="Top" style="padding-top: 10px;">
			<%@ Register TagPrefix="SplendidCRM" TagName="TeamTree" Src="~/_controls/TeamTree.ascx" %>
			<SplendidCRM:TeamTree ID="ctlTeamTree" Runat="Server" />
		</asp:TableCell>
		<asp:TableCell ID="tdTeamTreeHandle" width="24px" valign="top">
			<div style="padding-top: 10px;">
				<asp:Image ID="imgTeamShowHandle" SkinID="show" onclick="showTeamTree(true, true);"  runat="server" />
				<asp:Image ID="imgTeamHideHandle" SkinID="hide" onclick="showTeamTree(false, true);" runat="server" />
			</div>
		</asp:TableCell>
		<asp:TableCell style="padding-left: 10px; padding-right: 10px; vertical-align: top; padding-bottom: 6px;">
			<asp:ContentPlaceHolder ID="cntUnifiedSearch" Visible="false" runat="server" />
			<asp:ContentPlaceHolder ID="cntLastViewed"    Visible="false" runat="server" />
			<asp:ContentPlaceHolder ID="cntSidebar"       Visible="false" runat="server" />
			<asp:Table border="0" cellpadding="0" cellspacing="0" width="100%" runat="server">
				<asp:TableRow>
					<asp:TableCell valign="top">
						<asp:ContentPlaceHolder ID="cntBody" runat="server" />
					</asp:TableCell>
					<asp:TableCell id="tdExpand" valign="top" style="width: 1%; padding-left: 4px;" runat="server">
						<asp:HiddenField ID="hidDashboardShow" runat="server" />
						<asp:HiddenField ID="hidPreviewID"     runat="server" />
						<asp:ImageButton ID="btnDashboardHide" SkinID="dashboard_hide" CommandName="Dashboard.Hide" OnCommand="Page_Command" Visible="false" runat="server" />
						<asp:ImageButton ID="btnDashboardShow" SkinID="dashboard_show" CommandName="Dashboard.Show" OnCommand="Page_Command" Visible="false" runat="server" />
					</asp:TableCell>
					<asp:TableCell id="tdPreview" valign="top" width="24%" Visible="false" runat="server">
						<p />
						<asp:Table SkinID="tabFrame" CssClass="moduleTitle ModuleHeaderFrame" runat="server">
							<asp:TableRow>
								<asp:TableCell VerticalAlign="Top">
									<span class="ModuleHeaderModule ModuleHeaderModule<%= ctlPreview.Module %>"><%= L10n.Term(ctlPreview.Module + ".LBL_MODULE_ABBREVIATION") %></span>
								</asp:TableCell>
								<asp:TableCell Width="99%">
									<h2><span><%= L10n.Term(".LBL_PREVIEW") %></span></h2>
								</asp:TableCell>
								<asp:TableCell HorizontalAlign="Right" style="padding-right: 5px;">
									&nbsp;
									<asp:ImageButton CommandName="Preview.Hide" OnCommand="Page_Command" CssClass="chartToolsLink" AlternateText='<%# L10n.Term(".LNK_CLOSE") %>' SkinID="delete_inline" Runat="server" />
								</asp:TableCell>
							</asp:TableRow>
						</asp:Table>
						
						<%@ Register TagPrefix="SplendidCRM" Tagname="Preview" Src="~/_controls/Preview.ascx" %>
						<SplendidCRM:Preview ID="ctlPreview" LayoutDetailView="DetailView.Preview" Runat="Server" />
					</asp:TableCell>
					<asp:TableCell id="tdDashboard" valign="top" width="24%" Visible="false" runat="server">
						<asp:Table SkinID="tabFrame" CssClass="moduleTitle" style="margin-left: 5px; margin-top: 6px;" runat="server">
							<asp:TableRow>
								<asp:TableCell VerticalAlign="Top">
									<h2><asp:Label Text='<%# L10n.Term(".LBL_DASHBOARD") %>' Runat="server" /></h2>
								</asp:TableCell>
								<asp:TableCell HorizontalAlign="Right">
									&nbsp;
									<asp:Button ID="btnAddDashlets" CommandName="AddDashlets" Text='<%# L10n.Term("Home.LBL_ADD_DASHLETS") %>' OnCommand="Page_Command" Visible="<%# !this.IsMobile %>" runat="server" />
								</asp:TableCell>
							</asp:TableRow>
						</asp:Table>
						<p />
						<asp:PlaceHolder ID="plcDashboard" Runat="server" />
					</asp:TableCell>
				</asp:TableRow>
			</asp:Table>
		</asp:TableCell>
	</asp:TableRow>
</asp:Table>

<%@ Register TagPrefix="SplendidCRM" Tagname="Copyright" Src="~/_controls/Copyright.ascx" %>
<SplendidCRM:Copyright ID="ctlCopyright" Runat="Server" />

<asp:PlaceHolder ID="plcMenuPopups" runat="server" />

<script type="text/javascript" src="<%# Application["scriptURL"] %>UpdatePanelWaitCursor.js"></script>
</form>
</body>
</html>

