/**
 * Copyright (C) 2014 SplendidCRM Software, Inc. All Rights Reserved. 
 *
 * Any use of the contents of this file are subject to the SplendidCRM Professional Source Code License 
 * Agreement, or other written agreement between you and SplendidCRM ("License"). By installing or 
 * using this file, you have unconditionally agreed to the terms and conditions of the License, 
 * including but not limited to restrictions on the number of users therein, and you may not use this 
 * file except in compliance with the License. 
 * 
 * SplendidCRM owns all proprietary rights, including all copyrights, patents, trade secrets, and 
 * trademarks, in and to the contents of this file.  You will not link to or in any way combine the 
 * contents of this file or any derivatives with any Open Source Code in any manner that would require 
 * the contents of this file to be made available to any third party. 
 * 
 * IN NO EVENT SHALL SPLENDIDCRM BE RESPONSIBLE FOR ANY DAMAGES OF ANY KIND, INCLUDING ANY DIRECT, 
 * SPECIAL, PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES.  Other limitations of liability 
 * and disclaimers set forth in the License. 
 * 
 */

.ChatChannelsCell
{
	width: 15%;
	border: 1px solid #003564;
}
.ChatMessagesCell
{
	width: 85%;
	border: 1px solid #003564;
}
.ChatChannelsDiv
{
	overflow-y: scroll;
	text-align: left;
	background-color: #FFD14E;
	color: #1F3562;
	font-size: 14px;
}
.ChatChannelsInactive
{
	margin: 4px;
	padding: 4px;
}
.ChatChannelsActive
{
	margin: 4px;
	padding: 4px;
	color: #1F3562;
	background-color: #FFBB19;
	border-radius: 6px;
}
.ChatUserCell
{
	background-color: #FFD14E;
	color: #1F3562;
	font-weight: bold;
}
.ChatUserName
{
	margin: 4px;
	font-size: 14px;
}
.ChatUserPicture
{
	margin: 4px;
	width: 36px;
	height: 36px;
	float: left;
	border-radius: 4px;
}

.ChatMessagesDiv
{
	overflow-y: scroll;
	text-align: left;
	font-size: 14px;
	line-height: 20px;
}
.ChatMessagesDateRule
{
	border: none;
	color: #DDDDDD;
	background-color: #DDDDDD;
	height: 2px;
}
.ChatMessagesLastDate
{
	background-color: White;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: Black;
	white-space: nowrap;
}
.ChatMessagesRow
{
	margin: 4px;
}
.ChatMessagesPicture
{
	margin: 4px;
	width: 36px;
	height: 36px;
	float: left;
	border-radius: 4px;
}
.ChatMessagesIdentity
{
}
.ChatMessagesCreatedBy
{
	margin-right: 4px;
	font-weight: bold;
	color: Black;
}
.ChatMessagesDateEntered
{
	margin-right: 4px;
	color: Gray;
}
.ChatMessagesParent
{
	margin-right: 14px;
}
.ChatMessagesDescription
{
	word-wrap: break-word;
}
.ChatMessagesMimeType
{
	width: 16px;
	height: 16px;
	margin-left: 4px;
}
.ChatMessagesFileSize
{
	margin-left: 4px;
}
.ChatMessagesFileType
{
	margin-left: 4px;
}
a.ChatMessagesFilename
{
	font-weight: bold;
	color: #2A80B9;
	text-decoration: none;
}
a.ChatMessagesMore
{
	padding-left: 4px;
	text-decoration: none;
}
a.ChatMessagesLess
{
	padding-left: 4px;
	text-decoration: none;
}
.ChatMessagesClearFloat
{
	clear: both;
}
.ChatInputCell
{
	border: 1px solid #003564;
	white-space: nowrap;
}
.ChatInputText
{
	margin-left: 5px;
	margin-right: 3px;
	width: 85%;
}
.ChatInputSubmit
{
}
.ChatParentPanel
{
	white-space: nowrap;
}
.ChatParentLabel
{
	margin-left: 5px;
}
.ChatFileUpload
{
	margin-left: 5px;
}
.ChatParentType
{
	margin-left: 5px;
}
.ChatParentName
{
	margin-left: 3px;
}
.ChatParentSelect
{
	margin-left: 3px;
}
.ChatParentClear
{
	margin-left: 3px;
}

