<%@ Control Language="c#" AutoEventWireup="false" CodeBehind="DynamicButtons.ascx.cs" Inherits="SplendidCRM._controls.DynamicButtons" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<script runat="server">
/**
 * Copyright (C) 2005-2010 SplendidCRM Software, Inc. All Rights Reserved. 
 *
 * Any use of the contents of this file are subject to the SplendidCRM Professional Source Code License 
 * Agreement, or other written agreement between you and SplendidCRM ("License"). By installing or 
 * using this file, you have unconditionally agreed to the terms and conditions of the License, 
 * including but not limited to restrictions on the number of users therein, and you may not use this 
 * file except in compliance with the License. 
 * 
 * SplendidCRM owns all proprietary rights, including all copyrights, patents, trade secrets, and 
 * trademarks, in and to the contents of this file.  You will not link to or in any way combine the 
 * contents of this file or any derivatives with any Open Source Code in any manner that would require 
 * the contents of this file to be made available to any third party. 
 * 
 * IN NO EVENT SHALL SPLENDIDCRM BE RESPONSIBLE FOR ANY DAMAGES OF ANY KIND, INCLUDING ANY DIRECT, 
 * SPECIAL, PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES.  Other limitations of liability 
 * and disclaimers set forth in the License. 
 * 
 */
</script>

<script type="text/javascript">
    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    function ConfirmDelete() {
        return confirm('<%= L10n.TermJavaScript(".NTC_DELETE_CONFIRMATION") %>');
    }

    function ConfirmEdit() {
        var id = getUrlVars()["id"];
        var idUp = getUrlVars()["ID"];        
        if (typeof id === "undefined" && typeof idUp === "undefined")
            return true;
        return confirm('<%= L10n.TermJavaScript(".NTC_EDIT_CONFIRMATION") %>');
}
</script>
<asp:Table SkinID="tabEditViewButtons" Visible="<%# !PrintView %>" runat="server">
    <asp:TableRow>
        <asp:TableCell ID="tdButtons" Width="10%" Wrap="false">
            <asp:Panel ID="pnlDynamicButtons" CssClass="button-panel" runat="server" />
        </asp:TableCell>
        <asp:TableCell ID="tdError">
            <asp:Label ID="lblError" CssClass="error" EnableViewState="false" runat="server" />
        </asp:TableCell>
        <asp:TableCell ID="tdRequired" HorizontalAlign="Right" Wrap="false" Visible="false">
			<asp:Label CssClass="required" Text='<%# L10n.Term(".LBL_REQUIRED_SYMBOL") %>' Runat="server" />
			&nbsp;
			<asp:Label Text='<%# L10n.Term(".NTC_REQUIRED") %>' Runat="server" />
        </asp:TableCell>
    </asp:TableRow>
</asp:Table>


