<%@ Control Language="c#" AutoEventWireup="false" Codebehind="RelatedSelect.ascx.cs" Inherits="SplendidCRM._controls.RelatedSelect" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<script runat="server">
/**
 * Copyright (C) 2005-2010 SplendidCRM Software, Inc. All Rights Reserved. 
 *
 * Any use of the contents of this file are subject to the SplendidCRM Professional Source Code License 
 * Agreement, or other written agreement between you and SplendidCRM ("License"). By installing or 
 * using this file, you have unconditionally agreed to the terms and conditions of the License, 
 * including but not limited to restrictions on the number of users therein, and you may not use this 
 * file except in compliance with the License. 
 * 
 * SplendidCRM owns all proprietary rights, including all copyrights, patents, trade secrets, and 
 * trademarks, in and to the contents of this file.  You will not link to or in any way combine the 
 * contents of this file or any derivatives with any Open Source Code in any manner that would require 
 * the contents of this file to be made available to any third party. 
 * 
 * IN NO EVENT SHALL SPLENDIDCRM BE RESPONSIBLE FOR ANY DAMAGES OF ANY KIND, INCLUDING ANY DIRECT, 
 * SPECIAL, PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES.  Other limitations of liability 
 * and disclaimers set forth in the License. 
 * 
 */
</script>
<asp:UpdatePanel UpdateMode="Conditional" runat="server">
	<ContentTemplate>
		<asp:GridView ID="grdMain" AutoGenerateColumns="false" AllowPaging="false" AllowSorting="false"
			AutoGenerateEditButton="false" AutoGenerateDeleteButton="false" OnRowCreated="grdMain_RowCreated" OnRowDataBound="grdMain_RowDataBound"
			OnRowEditing="grdMain_RowEditing" OnRowDeleting="grdMain_RowDeleting" OnRowUpdating="grdMain_RowUpdating" OnRowCancelingEdit="grdMain_RowCancelingEdit" 
			CssClass="listView setListView" runat="server">
			<RowStyle            CssClass="oddListRowS1"  VerticalAlign="Top" />
			<AlternatingRowStyle CssClass="evenListRowS1" VerticalAlign="Top" />
			<HeaderStyle         CssClass="listViewThS1"  />
			<Columns>
				<asp:TemplateField>
					<ItemTemplate><%# Eval(sRELATED_NAME_FIELD) %></ItemTemplate>
					<EditItemTemplate>
						<asp:PlaceHolder ID="plcSELECT" OnInit="plcSELECT_Init" runat="server" />
					</EditItemTemplate>
				</asp:TemplateField>
				<asp:TemplateField ItemStyle-Wrap="false">
					<ItemTemplate>
						<%-- 09/25/2016 Paul.  Separate skin id and icon for set management. --%>
						<asp:ImageButton ID="btnEdit"   Enabled="<%# bEnabled %>" CommandName="Edit"   SkinID="set_edit_inline"   runat="server" />
						<asp:ImageButton ID="btnDelete" Enabled="<%# bEnabled %>" CommandName="Delete" SkinID="set_delete_inline" runat="server" />
					</ItemTemplate>
					<EditItemTemplate>
						<%-- 09/25/2016 Paul.  Separate skin id and icon for set management. --%>
						<asp:ImageButton ID="btnUpdate" Enabled="<%# bEnabled %>" CommandName="Update" SkinID="set_update_inline" runat="server" />
						<asp:ImageButton ID="btnCancel" Enabled="<%# bEnabled %>" CommandName="Cancel" SkinID="set_cancel_inline" runat="server" />
					</EditItemTemplate>
				</asp:TemplateField>
				<asp:CommandField Visible="false" ButtonType="Image" ShowEditButton="true" ShowDeleteButton="true" ControlStyle-CssClass="button" ItemStyle-Width="10%" ItemStyle-Wrap="false" 
					EditText=".LBL_EDIT_BUTTON_LABEL"     EditImageUrl="~/App_Themes/Sugar/images/set_edit_inline.gif" 
					DeleteText=".LBL_REMOVE"              DeleteImageUrl="~/App_Themes/Sugar/images/set_delete_inline.gif" 
					UpdateText=".LBL_UPDATE_BUTTON_LABEL" UpdateImageUrl="~/App_Themes/Sugar/images/set_update_inline.gif" 
					CancelText=".LBL_CANCEL_BUTTON_LABEL" CancelImageUrl="~/App_Themes/Sugar/images/set_cancel_inline.gif" 
					/>
			</Columns>
		</asp:GridView>
		<SplendidCRM:RequiredFieldValidatorForRelatedSelect ID="valRelatedSelect" ControlToValidate="grdMain" CssClass="required" EnableClientScript="false" EnableViewState="false" Enabled="false" Runat="server" />
	</ContentTemplate>
</asp:UpdatePanel>

